{% extends "base.html" %}
{% load static %}

{% block pagelinks %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/pages/about/about.css' %}"
  />
{% endblock %}

{% block heroDescription %}
  <div class="container">
      <h1>About Us</h1>
      <p>Located in Prague, Oklahoma, we proudly serve Lincoln, Pottawatomie, Okfuskee,Seminole, and other surrounding communities</p>
  </div>
{% endblock heroDescription %}


{% block content %} 

  <section class="second-container">
        <section class="about-us container">
            <div class="first">
                <h1>About us</h1>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged  is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                <a href="{% url 'contact' %}">Contact us</a>
            </div>
            <img src="../../static/img/about-img/swing-bed.jpg" alt="Swing Bed">
        </section>

        <section class="hospital-values container">
            <div class="border-padding-left value-title">
                <h2>Our hospital values</h2>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            </div>
            <div class="values-list">
                <div class="value">
                    <i class="fa-solid fa-user-nurse"></i>
                    <h3>Care</h3>
                    <p>Deliver extraordinary care and compassionate service to all patients every day</p>
                </div>
                <div class="value">
                    <i class="fa-solid fa-trophy"></i>
                    <h3>Improve</h3>
                    <p>Continually evaluate ourselves to identify performance improvement opportunities.</p>
                </div>
                <div class="value">
                    <i class="fa-solid fa-maximize"></i>
                    <h3>Expand</h3>
                    <p>Expand services based on community need and enhance accessibility</p>
                </div>
                <div class="value">
                    <i class="fa-solid fa-users"></i>
                    <h3>Recruit</h3>
                    <p>Hire and retain skilled staff committed to providing excellence to all patients and teammates.</p>
                </div>
            </div>
        </section>
        <section class="our-services container">
            <div class="border-padding-left service-title">
                <h2>Our Services</h2>
                <p>We, the physicians, staff, and board members of Prague Regional Memorial Hospital are committed to providing the highest level of healthcare possible at our facility.</p>
            </div>
            <div class="services">
                <div class="service" id="s1">
                    <div>
                        <div>
                            <img src="../../static/img/home-img/hospital-bed.svg" alt="Swing Bed"> <span>Swing Bed</span>
                        </div>
                        <p>Our case managers ensure our patients receive the highest quality care during and after their stay at Carnegie Hospital. lorem</p>
                    </div>
                </div>
               
                <div class="service" id="s2">
                    <div>
                        <div>
                            <img src="../../static/img/home-img/wounded.svg" alt="Wound Care"> <span>Wound Care</span>
                        </div>
                            <p>Our case managers ensure our patients receive the highest quality care during and after their stay at Carnegie Hospital.</p>
                    </div>
                    
                </div>
                    
                <div class="service" id="s3">
                    <div>
                        <div>
                            <img src="../../static/img/home-img/lung.svg" alt="Respiratory"> <span>Respiratory Therapy</span>
                        </div>
                        <p>Our case managers ensure our patients receive the highest quality care during and after their stay at Carnegie Hospital.</p>
                    </div>
                   
                </div>
                   
                <div class="service" id="s4">
                    <div>
                        <div>
                            <img src="../../static/img/home-img/physical-therapy.svg" alt="Rehabilitation"> <span>Rehabilitation</span>
                        </div>
                        <p>Our case managers ensure our patients receive the highest quality care during and after their stay at Carnegie Hospital.</p>
                    </div>
                </div>  
               
                <div class="service" id="s5">
                    <div>
                        <div>
                            <img src="../../static/img/home-img/case-file.svg" alt="Case File"> <span>Case Management</span>
                        </div>
                        <p>Our case managers ensure our patients receive the highest quality care during and after their stay at Carnegie Hospital.</p>
                    </div>
                    
                </div>
              
                    
                <div class="service" id="s6">
                    <div>
                        <div>
                            <img src="../../static/img/home-img/medical-team.svg" alt="Medical Team"> <span>Nursing</span>
                        </div>
                        <p>Our case managers ensure our patients receive the highest quality care during and after their stay at Carnegie Hospital.</p>
                    </div>
                    
                </div>
                
                    
            </div>
    </section>
    <section class="testimonials">
        <div class="border-padding-left">
            <h4>WE LOVE THEM</h4>
            <h2>What our clients have to say</h2>
        </div>
        <div class="testimonial">
            <div class="card">
                <img src="../../static/img/home-img/testimonial-1.jpg" alt="Woman Smiling">
                <p>We pledge to recognize the health care needs of our community and surrounding area and provide cost-effective services necessary to enhance the quality of life</p>
                <span>Name and another name</span>
            </div>
            <div class="card">
                <img src="../../static/img/home-img/testimonial-2.jpg" alt="Woman Smiling">
                <p>We pledge to recognize the health care needs of our community and surrounding area and provide cost-effective services necessary to enhance the quality of life</p>
                <span>Name and another name</span>
            </div>
            <div class="card">
                <img src="../../static/img/home-img/testimonial-3.jpg" alt="Woman Profile">
                <p>We pledge to recognize the health care needs of our community and surrounding area and provide cost-effective services necessary to enhance the quality of life</p>
                <span>Name and another name</span>
            </div>
        </div>
    </section>
    <section class="approach">
        <div class="first">
            <h1>OUR APPROACH</h1>
            <div>
                <h2>Our Staff</h2>
                <p>We provide patient-centered healthcare to our rural communities through compassionate care. We are available 24 hours a day/7 days a week.</p>
            </div>
            <div>
                <h2>Our Story</h2>
                <p>Prague Regional Memorial Hospital is a 25-bed, critical access hospital located in Prague, Oklahoma, proudly serving Lincoln, Pottawatomie, Okfuskee, and Seminole counties.</p>
            </div>
        </div>
        <div class="second">
            <img src="../../static/img/about-img/approach.jpg" alt="Woman Face">
        </div>
    </section>
    </section>

{% endblock %}


</section>