{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/main/main.css' %}"
    />
    <link
      rel="shortcut icon"
      type="image/jpg"
      sizes="16x16 32x32"
      href="../static/img/home-img/Prague-Logo-Light.svg"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4KBLQNHLJ5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4KBLQNHLJ5');
</script>

    
    {% block pagelinks %}
    {% endblock %}
    <title>Prague Hospital</title>
  </head>
  <body>
    <nav id="nav">
      <img
        src="../static/img/home-img/Prague-Logo-Light.svg"
        alt="Prague Logo"
      />
      <div id="links-container">
         <ul>
                <a href="{% url 'home' %}"><li>Home</li></a>
                <a href="{% url 'about' %}"><li>About Us</li></a>
                <a href="#services"><li>Services</li></a>
                <a href="{% url 'jobs' %}"><li>Career</li></a>
                <a href="#"><li>Patient Info</li></a>
            </ul>

        <a href="#">Prague Family Clinic</a>
      </div>
      <section class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </section>
    </nav>

    <section class="hero-container">
      {% block heroDescription %}
      {% endblock heroDescription %}
    </section>
    
    {% block content %} {% endblock %}


    {% include "footer.html" %}
    
    <script src="../static/js/main/main.js"></script>
    <script src="../static/js/pages/home/home.js"></script>

  </body>
</html>
