{% extends "base.html" %}
{% load static %}

{% block pagelinks %}
<link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/pages/home/home.css' %}"
    />
{% endblock %}

{% block content %}
<h1>Job Listings</h1>
<ul>
  {% for job in job_list %}
  <li>
    <h2>{{ job.title }}</h2>
    <p>{{ job.description | slice:":200" | safe }}</p>
    <p>Company: {{ job.companyName }}</p>
    <p>
      Location: {{ job.jobLocation.city }}, {{ job.jobLocation.state }}, {{
      job.jobLocation.zip }}
    </p>
    <p>Published Date: {{ job.publishedDate }}</p>
    <a href="{{ job.applyUrl }}" target="_blank">Apply Now</a>
  </li>
  {% empty %}
  <li>No job listings available.</li>
  {% endfor %}
</ul>

{% endblock content %}
