<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="image/jpg" sizes="16x16 32x32" href="/static/img/home-img/Prague-Logo-Light.svg" />
    <link rel="stylesheet" href="/static/css/pages/wondcare-service/wondcare.css" />
    <title>Woundcare Services</title>
</head>

<body>

    <!--Navigation-->
    <nav id="nav">
        <img src="/static/img/home-img/Prague-Logo-Light.svg" alt="Prague Logo">
        <div id="links-container">
            <ul>
                <a href="{% url "home" %}">
                    <li>Home</li>
                </a>
                <a href="{% url "about" %}">
                    <li>About Us</li>
                </a>

                <div class="service">
                    <a href="{% url "home" %}">
                        <li>Services</li>
                    </a>

                    <div class="dropdown">
                        <a href="{% url "financial" %}">Financial</a>
                        <a href="{% url "swing-bed" %}">Swing-bed</a>
                        <a href="{% url "rehab-servive" %}">Rehabilation</a>
                        <a href="{% url "case-management" %}">Case Management</a>
                        <a href="{% url "wound_care" %}">Woundcare</a>
                    </div>
                </div>
                
                <a href="{% url "employment" %}">
                    <li>Career</li>
                </a>
                <a href="{% url "home" %}">
                    <li>Patient Info</li>
                </a>
            </ul>

            <ul class="listlinks">
                <a href="{% url "home" %}">
                    <li>Home</li>
                </a>
                <a href="{% url "about" %}">
                    <li>About Us</li>
                </a>

                <a href="{% url "financial" %}">
                    <li>Finance</li>
                </a>

                <a href="{% url "swing-bed" %}">
                    <li>Swing-bed</li>
                </a>

                <a href="{% url "rehab-servive" %}">
                    <li>Rehabilation</li>
                </a>
                <a href="{% url "case-management" %}">
                    <li>Case Management</li>
                </a>
                <a href="{% url "wound_care" %}">
                    <li>Woundcare</li>
                </a>
                
                <a href="{% url "employment" %}">
                    <li>Career</li>
                </a>
                <a href="{% url "home" %}">
                    <li>Patient Info</li>
                </a>
            </ul>

            <a href="{% url "home" %}">Prague Family Clinic</a>
        </div>
        <section class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </section>

    </nav>
    <!--End of Navigation-->

    <!-- Hero Section -->
    <section class="hero-container1">
        <div class="container">
            <h1>Woundcare Services</h1>
            <p>
                Located in Prague, Oklahoma, we proudly serve Lincoln, Pottawatomie, Okfuskee,Seminole, and other
                surrounding communities
            </p>
            <div class="buttons">
                <a href="#">Our Services</a>
                <a href="#">Our Hospital</a>
            </div>
        </div>
    </section>
    <!-- End of Hero Section-->

    <!-- Second Container-->
    <section class="second-container">
        <div class="first-section container">
            <div>
                <p>Prague Hospital offers high quality care for slow healing and chronic wounds. We provide full
                    assessment, tailored treatment, patient education and support. Our goal is to heal the wound as
                    quickly and efficiently as possible and eliminate wound-related symptoms and complications.</p>
            </div>
            <div class="woundcare-img">
                <img src="/static/img/financial-img/man-on-computer.jpg" alt="Man on a computer">
            </div>

        </div>

        <div class="treatments container">
            <h1>
                We treat a variety of conditions that lead to skin breakdown and injury, including:
            </h1>

            <div class="lists-traitments">
                <div class="list"><i class="fa-solid fa-square-check"></i>
                    <p>Leg and foot ulcers caused by diabetes or medical conditions that impair blood circulation
                        through the arteries or veins</p>
                </div>
                <div class="list"><i class="fa-solid fa-square-check"></i>
                    <p>Tissue injury caused by radiation therapy for cancer, such as injury to the bladder,
                        intestines, rectum, or skin</p>
                </div>
                <div class="list"><i class="fa-solid fa-square-check"></i>
                    <p>Pressure ulcers caused by sitting or lying in one position for too long</p>
                </div>
                <div class="list"><i class="fa-solid fa-square-check"></i>
                    <p>Wounds associated with lymphedema</p>
                </div>
                <div class="list"><i class="fa-solid fa-square-check"></i>
                    <p>Burns</p>
                </div>
                <div class="list"><i class="fa-solid fa-square-check"></i>
                    <p>Cellulitis</p>
                </div>
                <div class="list"><i class="fa-solid fa-square-check"></i>
                    <p>Amputations</p>
                </div>
                <div class="list"><i class="fa-solid fa-square-check"></i>
                    <p>Non-healing surgical wounds</p>
                </div>
                <div class="list"><i class="fa-solid fa-square-check"></i>
                    <p>Fistulas</p>
                </div>
                <div class="list"><i class="fa-solid fa-square-check"></i>
                    <p>Other non-healing wounds</p>
                </div>
            </div>
        </div>

        <div class="consultancy-section container">
            <svg width="724" height="724" viewBox="0 0 724 724" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle opacity="0.13" cx="362" cy="362" r="362" fill="#292464" />
            </svg>
          
            <div class="consultancy">
              
                <div class="woundcare-images">
                    <img src="/static/img/financial-img/man-on-computer.jpg" alt="Man on a computer">
                    <img src="/static/img/financial-img/man-on-computer.jpg" alt="Man on a computer">
                </div>

                <!-- <div class="consultancy-text"> -->
                    <p>
                        Our nurses, physicians, and clinical staff begin with a review of each patient’s medical history.
                        The patient’s individualized care plan is determined by an examination and assessment considering
                        all relevant factors. This thorough consideration prior to treatment, along with a thoughtful and
                        continually monitored treatment plan, sets our patients up for successful healing.
                    </p>
                <!-- </div> -->
               
            </div>

        </div>

        <div class="title container">
            <h1>X-Ray and CT</h1>
            <p>At Pawhuska Hospital, we are committed to providing premier quality imaging with compassion and care.
                Whether it’s a CT scan or a traditional X-ray, you can expect quality care and quick results
                performed by skilled, registered radiology technicians and read by an experienced, board-certified
                radiologist. We offer both inpatient and outpatient radiology services 24 hours a day, 7 days a
                week.</p>
        </div>

        <div class="diagnostics">
            <div class="first-diagnostic">
                <div class="first">
                    <h3>Diagnostic X-Ray</h3>
                    <div class="paragraphs">
                        <p>Diagnostic radiology procedures use radiation to help identify disease or injury. X-rays
                            penetrate body tissues and produce an image that provides vital information about normal
                            structures as well as diseases in the body. Diagnostic X-rays are used to examine all parts
                            of the body. For example, diagnostic X-rays can be used to identify problems in the
                            digestive system and kidneys, and find evidence of bone fractures and dislocations.</p>
                    </div>
                </div>
                <div class="img-container"></div>
            </div>
            <div class="second-diagnostic">
                <div class="img-container"></div>
                <div class="second">
                    <h3>CT Scan (computerized tomography)</h3>
                    <div class="paragraphs">
                        <p>A CT (or computerized tomography) scan combines computerized technology with a focused X- ray
                            beam that passes through the body at various angles, producing clear, cross-sectional
                            images. It
                            is safe, fast and painless, and produces precise and accurate images of the body. A CT scan
                            is
                            one of a physician’s most important tools for examining the bones and internal organs. CT
                            scans are able to detect many conditions that conventional X-rays cannot.
                        </p>
                        <p>CT scans can often take the place of other more invasive diagnostic techniques, such as
                            exploratory surgery, saving the patient discomfort, cost, and inconvenience. The scans are
                            also
                            useful for monitoring a patient’s progress during or after treatment. CT scanning is
                            considered
                            a critical component of any evaluation of brain injuries or function. CT scans of the head
                            may
                            also be used to detect or rule out tumors, blood clots, and other disorders. These scans can
                            also be especially important in diagnosing enlarged lymph nodes, pancreatic disease, back
                            problems, or lung cancer.
                        </p>
                    </div>
                </div>
            </div>
        </div>



        <div class="Lab-section container">
            <h1>Lab</h1>
            <div class="text-lab">
                <p>
                    Prague Hospital Laboratory Services provides accurate and timely results while contributing to
                    our patient and family-centered care. Laboratory testing is performed 24 hours a day, seven days
                    a week by certified laboratory personnel using the latest instrumentation
                </p>

                <p>
                    The laboratory’s rapid turnaround time allows caregivers to treat their patients in a timely
                    fashion. We provide laboratory testing not just for the hospital, but also local physician’s
                    offices, nursing homes and area clinics, accurately and efficiently processing approximately
                    57,000 tests per year.
                </p>
            </div>

            <div class="our-labotary-services">
                <h1>
                    Our laboratory services include 
                </h1>

                <div class="Lab-services">
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>General/Routine Chemistry</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Special Chemistry</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Toxicology Screens (Medical Purposes Only)</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>General/Routine Hematology</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Hemostasis and Thrombosis</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Flow Cytometry</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Microbiology</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Microbiology</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Special/Routine/Comprehensive Coagulation</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Virology</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Immunology/Serology</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Anatomic Pathology</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Cytology</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Immunohematology</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Immunohematology</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Blood bank</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Microbiology</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Histology</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Urinalysis</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Serology</p>
                    </div>
                    <div class="list"><i class="fa-solid fa-square-check"></i>
                        <p>Drug screening for employment</p>
                    </div>
                </div>
            </div>
        </div>



        <div class="second-section container">
            <!-- <div class="first">
                    <p>The following documents are our policies on assisting patients financially. You can download and
                        print
                        these documents.</p>
                    <div>
                        <h3>FA/Charity Policy</h3>
                        <p>Learn more about our financial assistance/charity policy. <a href="#">Click here to download
                                this
                                policy</a></p>
                    </div>
                    <div>
                        <h3>Plain Language Summary</h3>
                        <p>Learn how to apply for financial assistance. <a href="#">Click here to download this
                                policy</a></p>
                    </div>
                </div> -->
            <div class="second">
                <h1>Apply for Financial Assistance.</h1>
                <p>Download and print the following application to apply for financial assistance.</p>
                <a href="#">Download</a>
            </div>
        </div>

        

        <svg width="568" height="758" viewBox="0 0 568 758" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.3"
                d="M183.702 313.932C189.9 337.596 189.643 363.124 175.693 383.218C107.078 482.048 -62.2456 592.026 23.8878 718.532C50.5958 757.758 103.892 765.117 148.564 749.103C518.642 616.436 576.364 429.182 567.11 258.431C567.11 105.359 476.255 0 330.344 0C193.608 0 137.036 135.78 183.702 313.932Z"
                fill="#292464" />
        </svg>

       


    </section>

    <!-- End of second container-->

    <footer>
        <div class="sub-container">
          <div class="first-section">
            <div class="first">
              <img src="/static/img/home-img/Prague-Logo-Light.svg" alt="Prague Logo" />
              <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              </div>
              <h2>Open 24/7 Hours</h2>
            </div>
            <div class="second">
              <ul>
                <h3>Our Services</h3>
                <a href="/src/pages/swingbed/swingbed.html"><li>Swing Bed</li></a>
                <a href="#"><li>Wound Care</li></a>
                <a href="#"><li>Respiratory Therapy</li></a>
                <a href="/src/pages/rehabilitation/rehabilitation.html"><li>Rehabilitation</li></a>
                <a href="/src/pages/case-management/case_management.html"><li>Case Management</li></a>
                <a href="#"><li>Nursing</li></a>
                
              </ul>
            </div>
            <div class="third">
              <ul>
                <h3>About</h3>
                <a href="#"><li>Company</li></a>
                <a href="/src/pages/financial/financial.html"><li>Financial Services</li></a>
                <a href="/src/pages/price/price.html"><li>Price Transparency</li></a>
                <a href="/src/pages/employment/employment.html"><li>Employment</li></a>
                <a href="#"><li>Family Clinic</li></a>
                
              </ul>
            </div>
            <div class="fourth">
              <ul>
                <h3>Support</h3>
                <li>
                  We're here to help with always on <br />
                  24 x 7 x 365 support
                </li>
                <li>(405) 567-4922</li>
                <li>info@prague.hospital</li>
              </ul>
            </div>
          </div>
          <hr />
          <div class="second-section">
            <span>&copy;</span>
            <p>Copyright 2021 Prague Regional Memorial Hospital. (U.S.A.)</p>
          </div>
        </div>
      </footer>
    <script src="/static/js/main/main.js"></script>
    <script src="/static/js/pages/home/home.js"></script>

</body>

</html>