{% extends "base.html" %}
{% load static %}

{% block pagelinks %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/pages/contact/contact.css' %}"
  />
{% endblock %}

{% block heroDescription %}
    <div class="container">
        <h1>Make contact with us</h1>
        <p>Located in Prague, Oklahoma, we proudly serve Lincoln, Pottawatomie, Okfuskee,Seminole, and other surrounding communities</p>
    </div>
{% endblock heroDescription %}

{% block content %}

<section class="second-container">
        <section class="contact container">
            <div class="title">
                <h1>Make contact with us</h1>
                <p>Located in Prague, Oklahoma, we proudly serve Lincoln, Pottawatomie, Okfuskee,Seminole, and other surrounding communities</p>
            </div>
            <div class="second">
                <div class="first-section">
                    <div class="top">
                        <h2>GET IN TOUCH</h2>
                        <h1>Contact Information</h1>
                        <p>We are committed to ensuring you receive the help and information needed to better manage your health. Listed below are phone numbers to get in touch with us with any questions and/or concerns you may have.</p>
                    </div>
                    <div class="bottom">
                        <div><i class="fa-solid fa-phone"></i><span>(405) 567-4922</span></div>
                        <div><i class="fa-solid fa-envelope"></i><span>info@prague.hospital</span></div>
                        <div><i class="fa-solid fa-location-dot"></i><span>1322 Klabzuba, Prague, Oklahoma 74864</span></div>
                    </div>   
                </div>
                <div class="contact-form">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="names">
                            {{form.first_name}}
                            {{form.last_name}}
                            
                        </div>
                        {{form.email}}
                        {{form.phone}}
                        {{form.message}}
                        <input type="submit" value="Send Message">
                    </form>
                </div>
            </div>            
           
        </section>
        <section class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3891.201502826868!2d-96.68695698500073!3d35.49050217484657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b3e93ff655ac4b%3A0xa9ea68b7d9005b00!2sPrague%20Community%20Hospital!5e0!3m2!1sen!2srw!4v1695300440666!5m2!1sen!2srw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </section>

{% endblock content%}