$primary-color: #292464;
$white-color: #ffffff;
$black-color: #000000;
$font-size: 18px;
$padding-1: 153px;
$padding-tablet: 100px;
$margin-1: 156px;
$margin-tablet: 100px;
$margin-mobile: 70px;
$margin-mobile-small: 50px;
$font-family-Playfair: 'Playfair Display', serif;
$font-family-Roboto: 'Roboto Condensed', sans-serif;
$grey-color: #939393;
