
{% extends "base.html" %}
{% load static %}
{% block page_links %}

    <link rel="stylesheet" href="{% static '/css/pages/dialysis/dialysis.css' %}">

{% endblock page_links %}


{% block content %}


    <!-- Hero Section -->
    <section class="hero-container1">
        <div class="container">
            <h1>Cohesive Renal Services Dialysis Program</h1>
            
        </div>
    </section>
    <!-- End of Hero Section-->

    <!-- Second Container-->
    <section class="second-container">
        <div class="first-section container">
            <div>
                <h1>What is Dialysis?</h1>
                <p>Dialysis is a medical treatment, or procedure, that replaces kidney function when an individual’s kidneys are unable to function normally.  This procedure involves cleaning the blood of toxins, balancing electrolytes and fluids within the body, and maintaining an overall homeostatic balance within the body.  Dialysis is provided to manage renal impairment, when necessary.  It is not, however, a cure for renal disease, chronic kidney disease, or End Stage Renal Disease.  </p>
            </div>
            <div class="woundcare-img">
                <img src="/static/img/dialysis/dialysis.svg" alt="Man on a computer">
            </div>

        </div>

        <div class="treatments container">
            <h1>
                What types of dialysis are available?
            </h1>
            <p>There are two basic types of dialysis, Hemodialysis and Peritoneal Dialysis, with some variations within each modality.</p>
            <div class="lists-traitments">
                <div class="list"><i class="fa-solid fa-square-check"></i>
                    <p><strong>Hemodialysis:</strong>  Hemodialysis patients receive dialysis through direct access with the blood.</p>
                </div>
                <div class="list"><i class="fa-solid fa-square-check"></i>
                    <p><strong>Peritoneal:</strong>  Peritoneal dialysis patients receive dialysis through an access placed in the lower abdomen. </p>
                </div>
               <p>
                Each of these dialysis modalities can help patients feel better, leading to overall improved health, and a better quality and quantity of life.  In our swing bed dialysis program, we commonly treat both chronic and acute kidney injury dialysis patients who are in need of rehabilitative or skilled nursing services.  At Prague Regional Memorial Hospital, we are pleased to offer Hemodialysis services currently, with the goal of offering Peritoneal Dialysis services in the near future, for the convenience of our swing bed patients and their families.  
               </p>
            </div>
        </div>

        <div class="consultancy-section container">
            <svg width="724" height="724" viewBox="0 0 724 724" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle opacity="0.13" cx="362" cy="362" r="362" fill="#292464" />
            </svg>
          

        </div>

        <div class="Lab-section container">
            <div>
                <h1>Comprehensive Care in Your Community</h1>
            <div class="text-lab">
                
                <p>
                    The ability to provide these vital dialysis services to patients requiring a longer-term hospitalization, for extended care services such as various therapies, wound care, or other skilled nursing services, makes Prague Regional Memorial Hospital a great option to meet the comprehensive needs of a greater population of individuals within their own community.  We are proud to offer this convenience, alleviating the need to travel long distances in order to obtain this necessary, life-sustaining treatment.
                </p>
                <img src="/static/img/dialysis/community.jpg" alt="">

                
            </div>
            </div>

            <div>
                <h1>Why Choose Cohesive Renal?
                    <div class="text-lab text-lab2">
                            
                        <img src="/static/img/dialysis/why us.jpg" alt="">
                        
                        <p>
                            At Cohesive Renal, our team of highly competent, seasoned professionals have many years of experience within the dialysis industry.  This valuable experience, along with our commitment to an exceptional care allows us to provide a more tailored approach to ensure excellent quality outcomes for our renal patients.  Our Dialysis nurses and technicians, equipped with state-of-the-art equipment, apply the latest evidence-based practice in collaboration with our highly respected Nephrology Medical Director in order to bring high-quality, comprehensive care to our hometown community.  
                        </p>
        
                        
                    </div>
            </div>

        </div>



        <div class="second-section container">
            <!-- <div class="first">
                    <p>The following documents are our policies on assisting patients financially. You can download and
                        print
                        these documents.</p>
                    <div>
                        <h3>FA/Charity Policy</h3>
                        <p>Learn more about our financial assistance/charity policy. <a href="#">Click here to download
                                this
                                policy</a></p>
                    </div>
                    <div>
                        <h3>Plain Language Summary</h3>
                        <p>Learn how to apply for financial assistance. <a href="#">Click here to download this
                                policy</a></p>
                    </div>
                </div> -->
            <!-- <div class="second">
                <h1>Apply for Financial Assistance.</h1>
                <p>Download and print the following application to apply for financial assistance.</p>
                <a href="#">Download</a>
            </div> -->
        </div>

        

        <svg width="568" height="758" viewBox="0 0 568 758" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.3"
                d="M183.702 313.932C189.9 337.596 189.643 363.124 175.693 383.218C107.078 482.048 -62.2456 592.026 23.8878 718.532C50.5958 757.758 103.892 765.117 148.564 749.103C518.642 616.436 576.364 429.182 567.11 258.431C567.11 105.359 476.255 0 330.344 0C193.608 0 137.036 135.78 183.702 313.932Z"
                fill="#292464" />
        </svg>

       


    </section>

    <!-- End of second container-->

   

{% endblock content %}