
{% extends "base.html" %}
{% load static %}
{% block page_links %}

    <link rel="stylesheet" href="{% static '/css/pages/price/price.css' %}">

{% endblock page_links %}


{% block content %}


  <!-- Hero Section -->
  <section class="hero-container1">
    <div class="container">
      <h1>Price Transparency</h1>
     
    </div>
  </section>
  <!-- End of Hero Section-->

  <!-- Second Container-->
  <section class="second-container">
    <div class="container">
      <img src="{% static "img/price-img/nurse.jpg" %}" alt="Nurse Smiling">
      <div class="price">
        <h1>Price Transparency</h1>
        <p>We strive to be transparent with pricing for our services, so we’ve provided multiple pricing tools to help
          you better anticipate medical costs and understand the charges on your bill.</p>
        <a target="_blank" href="https://apps.para-hcfs.com/PTT/FinalLinks/Prague.aspx">View Pricing</a>
      </div>
    </div>
  </section>
  <!-- End of second container-->

  

{% endblock content %}