@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500&family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p, a, #currentYear {
  font-size: 16px !important;
}

nav {
  display: flex;
  padding-inline: 153px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
nav img {
  width: 150px;
}
nav .hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  transition: 0.3s ease;
  display: none;
  position: relative;
  right: -3rem;
  height: 40px;
  width: 40px;
}
nav .hamburger span {
  height: 5px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: 0.3s ease;
}
nav .close {
  transition: 0.3s ease;
  position: relative;
}
nav .close span:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
}
nav .close span:nth-child(2) {
  opacity: 0;
  display: none;
}
nav .close span:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
}
nav > div {
  display: flex;
  align-items: center;
  gap: 3rem;
  color: #ffffff;
}
nav > div ul {
  display: flex;
  gap: 2rem;
}
nav > div ul a {
  transition: 0.3s ease-in-out;
}
nav > div ul a:hover {
  color: rgb(237, 82, 89);
}
nav > div ul .service, nav > div ul .patient {
  position: relative;
}
nav > div ul .service > a, nav > div ul .patient > a {
  pointer-events: none;
}
nav > div ul .service .dropdown, nav > div ul .patient .dropdown {
  position: absolute;
  background-color: #292464;
  display: none;
  border-radius: 5px;
}
nav > div ul .service .dropdown a, nav > div ul .patient .dropdown a {
  display: block;
  color: #ffffff;
  padding: 5px 10px;
  gap: 24px;
  font-size: 16px;
  transition: all 0.4s linear;
}
nav > div ul .service .dropdown a:hover, nav > div ul .patient .dropdown a:hover {
  background-color: rgba(94, 87, 174, 0.9333333333);
}
nav > div ul .service:hover .dropdown, nav > div ul .patient:hover .dropdown {
  display: block;
}
nav > div .listlinks {
  display: none;
}
nav > div > a {
  border: 1px solid #ffffff;
  border-radius: 12px;
  display: inline-block;
  padding: 12px 25px;
  transition: 0.3s ease-in-out;
}
nav > div > a:hover {
  background-color: #ffffff;
  color: rgb(237, 82, 89);
}

.hero-container #nav {
  width: 100%;
  position: fixed;
  transition: 0.4s ease;
  z-index: 999;
}

.nav-active {
  background-color: #292464;
  box-shadow: 5px -1px 12px -5px grey;
}

.hero-container {
  width: 100%;
  background-image: url("/static/img/home-img/hero-background2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 15%;
  position: relative;
  z-index: 2;
  padding-top: 100px;
}
.hero-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(41, 36, 100, 0.7);
  z-index: -1;
}

.hero-container1 {
  width: 100%;
  background-image: url("/static/img/about-img/hero-image-about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 15%;
  position: relative;
  z-index: 2;
  padding-top: 100px;
}
.hero-container1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(41, 36, 100, 0.7);
  z-index: -1;
}

.border-padding-left {
  border-left: 4px solid #292464;
  padding-left: 2rem;
}

.border-padding-top {
  border-top: 8px solid #292464;
  border-radius: 10px;
}

.border-padding-bottom {
  border-bottom: 8px solid #292464;
  border-radius: 10px;
}

.team-title {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.team-title h2 {
  font-family: "Playfair Display", serif;
  color: #292464;
  font-size: 32px;
}

.container {
  margin-inline: 156px;
  margin-top: 100px;
}

.our-services {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.our-services .service-title {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #292464;
}
.our-services .service-title h2 {
  font-family: "Playfair Display", serif;
  color: #292464;
  font-size: 32px;
}
.our-services .services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  place-items: center;
  width: 95%;
  margin-inline: auto;
}
.our-services .services .service {
  width: 100%;
  max-width: 500px;
  height: 330px;
  background-image: url("/static/img/home-img/services-1.jpg");
  border-radius: 12px;
  background-repeat: no-repeat;
  z-index: 2;
  position: relative;
  background-size: cover;
  color: #ffffff;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
}
.our-services .services .service::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  border-radius: 12px;
}
.our-services .services .service > div {
  position: relative;
  height: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-services .services .service > div p {
  margin-top: 1rem;
  opacity: 0;
  text-align: justify;
  text-justify: inter-word;
}
.our-services .services .service:hover > div {
  align-items: start;
  transition: all 0.99s ease-in-out;
}
.our-services .services .service:hover p {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.our-services .services .swing-bed {
  background: linear-gradient(rgba(41, 36, 100, 0.6), rgba(41, 36, 100, 0.1)), url("/static/img/swingbed-img/background.jpg") no-repeat center center/cover;
}
.our-services .services .wound_care {
  background: linear-gradient(rgba(41, 36, 100, 0.6), rgba(41, 36, 100, 0.1)), url("/static/img/woundcare-img/background.jpg") no-repeat center center/cover;
}
.our-services .services .respiratory_therapy {
  background: linear-gradient(rgba(41, 36, 100, 0.6), rgba(41, 36, 100, 0.1)), url("/static/img/respiratory/background.jpg") no-repeat center center/cover;
}
.our-services .services .rehab-servive {
  background: linear-gradient(rgba(41, 36, 100, 0.6), rgba(41, 36, 100, 0.1)), url("/static/img/rehabilitation/background.jpg") no-repeat center center/cover;
}
.our-services .services .case-management {
  background: linear-gradient(rgba(41, 36, 100, 0.6), rgba(41, 36, 100, 0.1)), url("/static/img/case-management-img/background.jpg") no-repeat center center/cover;
}
.our-services .services .nursing {
  background: linear-gradient(rgba(41, 36, 100, 0.6), rgba(41, 36, 100, 0.1)), url("/static/img/nursing/background.jpg") no-repeat center center/cover;
}

.strong-mind {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.strong-mind h4 {
  color: #292464;
}
.strong-mind .strong-mind-up {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.strong-mind .strong-mind-up .strong-mind-title {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #292464;
}
.strong-mind .strong-mind-up .strong-mind-title h2 {
  font-family: "Playfair Display", serif;
  color: #292464;
  font-size: 32px;
}
.strong-mind .strong-mind-up .strong-mind-right {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.strong-mind .strong-mind-down {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.strong-mind .strong-mind-down .strong-mind-left {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.strong-mind .strong-mind-down .strong-mind-right {
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-bottom: 100px;
}
.contact .first-section {
  background-color: #292464;
  padding: 68px 40px 153px 30px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 55px;
  width: 50%;
  border-radius: 12px;
}
.contact .first-section .top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact .first-section .top h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: lighter;
}
.contact .first-section .top h1 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
}
.contact .first-section .bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact .first-section .bottom > div {
  display: flex;
  gap: 12px;
}
.contact .first-section .bottom > div i {
  font-size: 25px;
}
.contact .first-section .bottom > div span {
  font-family: "Playfair Display", serif;
  font-size: 18px;
}
.contact .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact .contact-form form input,
.contact .contact-form form textarea {
  padding: 25px;
  border-radius: 6px;
  border: 1px solid #292464;
  background: rgba(255, 255, 255, 0.68);
  display: block;
  width: 100%;
}
.contact .contact-form form input[type=submit] {
  width: -moz-fit-content;
  width: fit-content;
  padding: 24px 36px;
  border: none;
  background-color: #292464;
  text-align: center;
  color: #ffffff;
}
.contact .contact-form form > div {
  display: flex;
  gap: 12px;
  width: 100%;
}

.testimonials {
  background-color: rgba(147, 147, 147, 0.3);
  width: 100%;
  padding-inline: 156px;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.testimonials > div h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: #292464;
}
.testimonials > div h2 {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  color: #292464;
}
.testimonials .testimonial {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}
.testimonials .testimonial .card {
  position: relative;
  width: 100%;
  max-width: 360px;
  background-color: rgba(147, 147, 147, 0.2);
  padding: 40px;
  border-radius: 12px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}
.testimonials .testimonial .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 81px;
  height: 71px;
  border-radius: 12px;
  position: absolute;
  top: -2rem;
  left: -2rem;
}
.testimonials .testimonial .card span {
  font-weight: bold;
  margin-bottom: 1rem;
}

.map {
  width: 100%;
  margin-bottom: 100px;
}
.map iframe {
  width: 100%;
}

footer {
  padding: 68px 156px 67px 156px;
  color: #ffffff;
  background-color: #292464;
}
footer .sub-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .sub-container .first-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Roboto Condensed", sans-serif;
  gap: 2rem;
}
footer .sub-container .first-section .first {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
footer .sub-container .first-section .first img {
  width: 117px;
  height: 91px;
}
footer .sub-container .first-section .first .social-icons {
  display: flex;
  gap: 10px;
  font-size: 26px;
}
footer .sub-container .first-section .first h2 {
  font-size: 32px;
  letter-spacing: 5px;
}
footer .sub-container .first-section .second ul,
footer .sub-container .first-section .third ul,
footer .sub-container .first-section .fourth ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  letter-spacing: 1.5px;
}
footer .sub-container .first-section .second ul h3,
footer .sub-container .first-section .third ul h3,
footer .sub-container .first-section .fourth ul h3 {
  font-size: 24px;
}
footer .sub-container .first-section .second ul li,
footer .sub-container .first-section .third ul li,
footer .sub-container .first-section .fourth ul li {
  font-weight: lighter;
}
footer .sub-container hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
footer .sub-container .second-section {
  display: flex;
  gap: 5px;
  align-items: center;
}
footer .sub-container .second-section span {
  font-size: 24px;
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 16px;
  }
  nav {
    font-size: 16px;
    padding-left: 70px;
  }
  nav div {
    gap: 2rem;
  }
  nav div ul {
    gap: 1.3rem;
  }
  .container {
    margin-inline: 100px;
  }
  .testimonials {
    padding-inline: 80px;
  }
  .testimonials .testimonial .card {
    max-width: 300px;
  }
}
@media screen and (max-width: 1160px) {
  .testimonials {
    padding-inline: 60px;
  }
  .testimonials .testimonial {
    width: 100%;
  }
  .testimonials .testimonial .card {
    max-width: 80%;
  }
  .testimonials .testimonial .card img {
    left: calc(50% - 40.5px);
  }
}
@media screen and (max-width: 1100px) {
  nav {
    font-size: 14px;
    padding-left: 50px;
  }
  .our-services .service-title {
    width: 80%;
  }
  .our-services .services {
    grid-template-columns: 1fr 1fr;
  }
  .contact {
    flex-direction: column;
  }
  .contact .first-section {
    width: 100%;
  }
}
@media screen and (max-width: 995px) {
  .strong-mind .strong-mind-up .strong-mind-title {
    width: 100%;
  }
  .strong-mind .strong-mind-up .strong-mind-right {
    width: 100%;
  }
  .strong-mind .strong-mind-down .strong-mind-left {
    width: 100%;
  }
  .strong-mind .strong-mind-down .strong-mind-right {
    width: 100%;
  }
}
@media screen and (max-width: 925px) {
  nav div {
    background-color: #292464;
    position: absolute;
    top: -200rem;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    gap: 0;
    padding-left: 2rem;
    font-size: 24px;
    transition: 0.4s ease;
    padding-top: 6rem;
  }
  nav div ul {
    display: none;
    z-index: 998;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  nav div ul a {
    padding: 1rem;
    width: 100%;
    transition: 0.3s ease;
  }
  nav div ul a:hover {
    color: rgb(237, 82, 89);
  }
  nav div ul .service {
    z-index: 2000;
    position: absolute;
  }
  nav div ul .service > a {
    pointer-events: none;
  }
  nav div ul .service .dropdown {
    position: absolute;
    background-color: #292464;
    display: none;
    border-radius: 5px;
  }
  nav div ul .service .dropdown a {
    display: block;
    color: #ffffff;
    padding: 5px 10px;
    gap: 24px;
    font-size: 16px;
    transition: all 0.4s linear;
  }
  nav div ul .service .dropdown a:hover {
    background-color: rgba(94, 87, 174, 0.9333333333);
  }
  nav div ul .service:hover .dropdown {
    display: block;
  }
  nav div .listlinks {
    display: flex;
    z-index: 998;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  nav div .listlinks a {
    width: 100%;
    transition: 0.3s ease;
    font-size: 18px;
  }
  nav div .listlinks a:hover {
    color: rgb(237, 82, 89);
  }
  nav div a {
    padding: 1rem;
    border: 0;
    width: 100%;
    z-index: 999;
    transition: 0.3s ease;
  }
  nav div a:hover {
    background-color: transparent;
    color: rgb(237, 82, 89);
  }
  nav .hamburger {
    display: flex;
  }
  .container {
    margin-inline: 70px;
  }
  footer {
    padding: 68px 50px 67px 50px;
    font-size: 18px;
  }
  footer .sub-container .first-section {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  nav .hamburger {
    right: -5rem;
  }
  .container {
    margin-inline: 50px;
    margin-top: 50px;
  }
  .our-services .service-title {
    width: 80%;
  }
  .our-services .services {
    grid-template-columns: 1fr;
  }
  .testimonials {
    padding: 40px;
  }
  .testimonials .testimonial .card {
    max-width: 100%;
  }
  .contact {
    flex-direction: column;
  }
  .contact .first-section {
    width: 100%;
    padding: 60px 30px;
    gap: 30px;
  }
  .contact .first-section .top h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 450px) {
  nav {
    padding-inline: 20px;
    padding-right: 153px;
  }
  nav > img {
    transform: scale(0.8);
  }
  nav .hamburger {
    right: -6rem;
  }
  .hero-container1 {
    height: -moz-fit-content;
    height: fit-content;
  }
  .hero-container1 > div h1 {
    font-size: 44px;
  }
  .hero-container1 .buttons {
    display: flex;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=main.css.map */