@import "../../css/main/variables";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $white-color;
}
p,a,#currentYear{
    font-size: 16px!important;
}


nav {
    display: flex;
    padding-inline: $padding-1;
    // padding-block: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    img{
        width: 150px;
    }

    .hamburger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
        transition: .3s ease;
        display: none;
        position: relative;
        right: -3rem;
        height: 40px;
        width: 40px;

        span {
            height: 5px;
            width: 40px;
            background-color: $white-color;
            border-radius: 2px;
            transition: .3s ease;
        }
    }

    .close {
        transition: .3s ease;
        position: relative;

        span:nth-child(1) {
            transform: rotate(45deg);
            position: absolute;
        }

        span:nth-child(2) {
            opacity: 0;
            display: none;
        }

        span:nth-child(3) {
            transform: rotate(-45deg);
            position: absolute;

        }
    }

    >div {
        display: flex;
        align-items: center;
        gap: 3rem;
        color: $white-color;

        ul {
            display: flex;
            gap: 2rem;

            a {
                transition: .3s ease-in-out;

                &:hover {
                    color: rgb(237, 82, 89);
                }
            }

            .service,.patient{
                position: relative;

                li{
                    font-size: 16px;
                }
                >a{
                    pointer-events: none;
                }

                .dropdown{
                    position: absolute;
                    background-color: $primary-color;
                    display: none;
                    border-radius: 5px;
                    a{
                        display: block;
                        color: $white-color;
                        padding: 5px 10px;
                        gap: 24px;
                        font-size: 16px;
                        transition: all .4s linear;

                        &:hover{
                            background-color: #5e57aeee;
                        }
                        
                    }

                   
                }

                &:hover{
                    .dropdown{
                        display: block;
                    }
                }
            }
        }

        .listlinks{
            display: none;
        }

        &>a {
            border: 1px solid $white-color;
            border-radius: 12px;
            display: inline-block;
            padding: 12px 25px;
            transition: .3s ease-in-out;

            &:hover {
                background-color: $white-color;
                color: rgb(237, 82, 89);
            }
        }
    }

}

.hero-container #nav {
    width: 100%;
    position: fixed;
    transition: 0.4s ease;
    z-index: 999;
}

.nav-active {
    background-color: $primary-color;
    box-shadow: 5px -1px 12px -5px grey;
}

.hero-container {
    width: 100%;
    background-image: url("/static/img/home-img/hero-background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 15%;
    position: relative;
    z-index: 2;
    padding-top: 100px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($primary-color, 0.7);
        z-index: -1;
    }

}

.hero-container1 {
    width: 100%;
    background-image: url("/static/img/about-img/hero-image-about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 15%;
    position: relative;
    z-index: 2;
    padding-top: 100px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($primary-color, 0.7);
        z-index: -1;
    }

}

.border-padding-left {
    border-left: 4px solid $primary-color;
    padding-left: 2rem;
}

.border-padding-top{
    border-top: 8px solid $primary-color;
    border-radius: 10px;
}

.border-padding-bottom{
    border-bottom: 8px solid $primary-color;
    border-radius: 10px;
}

.team-title {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // color: $primary-color;

    h2 {
        font-family: $font-family-Playfair;
        color: $primary-color;
        font-size: 32px;
    }


}

.container {
    margin-inline: $margin-1;
    margin-top: 100px;
}

.our-services {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


    .service-title {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: $primary-color;

        h2 {
            font-family: $font-family-Playfair;
            color: $primary-color;
            font-size: 32px;
        }


    }

  



    .services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        place-items: center;
        width: 95%;
        margin-inline: auto;

        .service {
            width: 100%;
            max-width: 500px;
            height: 330px;
            background-image: url("/static/img/home-img/services-1.jpg");
            border-radius: 12px;
            background-repeat: no-repeat;
            z-index: 2;
            position: relative;
            background-size: cover;
            color: $white-color;
            padding: 1rem;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            cursor: pointer;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba($black-color, 0.5);
                z-index: -1;
                border-radius: 12px;
            }

            &>div {
                position: relative;
                height: 100%;
                // bottom: -1rem;
                transition: all .3s ease-in-out;
                // background-color: blue;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    margin-top: 1rem;
                    // visibility: hidden;
                    opacity: 0;
                    text-align: justify;
                    text-justify: inter-word;
                    // display: none;
                }
            }

            &:hover>div {
                // height: auto;
                // bottom: 1rem;
                align-items: start;
                transition: all .99s ease-in-out;
            }

            &:hover p {
                visibility: visible;
                opacity: 1;
                transition: all .5s ease-in-out;
            }
            // p {
            //     visibility: visible;
            //     opacity: 1;
            // }
        }
        .swing-bed{
            background: linear-gradient(rgb(41, 36, 100,.6),rgb(41, 36, 100,.1)),url("/static/img/swingbed-img/background.jpg") no-repeat center center/cover;
        }
        .wound_care{
            background: linear-gradient(rgb(41, 36, 100,.6),rgb(41, 36, 100,.1)),url("/static/img/woundcare-img/background.jpg") no-repeat center center/cover;
        }

        .respiratory_therapy{
            background: linear-gradient(rgb(41, 36, 100,.6),rgb(41, 36, 100,.1)),url("/static/img/respiratory/background.jpg") no-repeat center center/cover;
        }
        .rehab-servive{
            background: linear-gradient(rgb(41, 36, 100,.6),rgb(41, 36, 100,.1)),url("/static/img/rehabilitation/background.jpg") no-repeat center center/cover;
        }
        .case-management{
            background: linear-gradient(rgb(41, 36, 100,.6),rgb(41, 36, 100,.1)),url("/static/img/case-management-img/background.jpg") no-repeat center center/cover;
        }
        .nursing{
            background: linear-gradient(rgb(41, 36, 100,.6),rgb(41, 36, 100,.1)),url("/static/img/nursing/background.jpg") no-repeat center center/cover;
        }
        .dialysis{
            background: linear-gradient(rgb(41, 36, 100,.6),rgb(41, 36, 100,.1)),url("/static/img/dialysis/service.jpg") no-repeat center center/cover;
        }

    }
}

.strong-mind {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h4 {
        color: $primary-color;

    }

    .strong-mind-up {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .strong-mind-title {
            width: 50%;
            height:fit-content;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            color: $primary-color;

            h2 {
                font-family: $font-family-Playfair;
                color: $primary-color;
                font-size: 32px;
            }


        }

        .strong-mind-right {
            width: 48%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

        }
    }

    .strong-mind-down{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        .strong-mind-left{
            width: 48%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .strong-mind-right{
            width: 49%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }


}

.contact {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-bottom: 100px;

    .first-section {
        background-color: $primary-color;
        padding: 68px 40px 153px 30px;
        color: $white-color;
        display: flex;
        flex-direction: column;
        gap: 55px;
        width: 50%;

        border-radius: 12px;

        .top {
            display: flex;
            flex-direction: column;
            gap: 24px;

            h2 {
                font-family: $font-family-Roboto;
                font-weight: lighter;
            }

            h1 {
                font-family: $font-family-Playfair;
                font-size: 45px;
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            gap: 12px;

            &>div {
                display: flex;
                gap: 12px;

                i {
                    font-size: 25px;
                }

                span {
                    font-family: $font-family-Playfair;
                    font-size: 18px;
                }
            }
        }
    }

    .contact-form {
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            input,
            textarea {
                padding: 25px;
                border-radius: 6px;
                border: 1px solid #292464;
                background: rgba(255, 255, 255, 0.68);
                display: block;
                width: 100%;

            }

            input[type=submit] {
                width: fit-content;
                padding: 24px 36px;
                border: none;
                background-color: $primary-color;
                text-align: center;
                color: $white-color;
            }

            &>div {
                display: flex;
                gap: 12px;
                width: 100%;
            }
        }
    }
}

.testimonials {
    background-color: rgba($color: $grey-color, $alpha: 0.3);
    width: 100%;
    padding-inline: $margin-1;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &>div {
        h4 {
            font-family: $font-family-Roboto;
            font-size: $font-size;
            color: $primary-color;
        }

        h2 {
            font-size: 32px;
            font-family: $font-family-Playfair;
            color: $primary-color;
        }
    }

    .testimonial {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
        flex-wrap: wrap;

        .card {
            position: relative;
            width: 100%;
            max-width: 360px;
            background-color: rgba($color: $grey-color, $alpha: 0.2);
            padding: 40px;
            border-radius: 12px;
            min-height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 1rem;

            img {
                object-fit: cover;
                width: 81px;
                height: 71px;
                border-radius: 12px;
                position: absolute;
                top: -2rem;
                left: -2rem;
            }

            span {
                font-weight: bold;
                margin-bottom: 1rem;

            }
        }
    }
}

.map {
    width: 100%;
    margin-bottom: 100px;

    iframe {
        width: 100%;
    }
}

footer {
    padding: 67px 156px;
    color: $white-color;
    background-color: $primary-color;

    .sub-container {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .first-section {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            font-family: $font-family-Roboto;
            gap: 2rem;

            .first {
                display: flex;
                flex-direction: column;
                gap: 18px;

                img {
                    width: 117px;
                    height: 91px;
                }

                .social-icons {
                    display: flex;
                    gap: 10px;
                    font-size: 50px;
                    a{
                        i{
                            font-size: 40px;
                        }
                    }
                }

                h2 {
                    font-size: 32px;
                    letter-spacing: 5px;
                }
            }

            .second,
            .third,
            .fourth {
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                    letter-spacing: 1.5px;

                    h3 {
                        font-size: 24px;
                    }

                    li {
                        font-weight: lighter;
                    }
                }
            }
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.50);
        }

        .second-section {
            display: flex;
            gap: 5px;
            align-items: center;

            span {
                font-size: 24px;
            }
        }
    }

}

@media screen and (max-width: 1250px) {
    html {
        font-size: 16px;
    }

    nav {
        font-size: 16px;
        padding-left: 70px;

        div {
            gap: 2rem;

            ul {
                gap: 1.3rem;
            }

        }
    }

    .container {
        margin-inline: $margin-tablet;
    }

    .testimonials {
        padding-inline: 80px;

        .testimonial{
            .card{
                max-width: 300px;
            }
        }
        
    }
}

@media screen and (max-width: 1160px) {
    .testimonials {
        padding-inline: 60px;

        .testimonial {
            width: 100%;

            .card {
                max-width: 80%;

                img {
                    left: calc(50% - 40.5px);
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    nav {
        font-size: 14px;
        padding-left: 50px;
    }

    .our-services {
        .service-title {
            width: 80%;
        }

        .services {
            grid-template-columns: 1fr 1fr;
        }
    }

    .contact {
        flex-direction: column;

        .first-section {
            width: 100%;
        }
    }
}

@media screen and (max-width:995px) {
    .strong-mind{
        .strong-mind-up{
            .strong-mind-title{
                width: 100%;
            } 

            .strong-mind-right{
                width: 100%;
            }
        } 

        .strong-mind-down{
            .strong-mind-left{
                width: 100%;
            }  

            .strong-mind-right{
                width: 100%;
            }
        }
    }
}



@media screen and (max-width: 925px) {
    nav {
        div {
            background-color: $primary-color;
            position: absolute;
            top: -200rem;
            flex-direction: column;
            align-items: flex-start;
            left: 0;
            right: 0;
            height: 100vh;
            width: 100vw;
            gap: 0;
            padding-left: 2rem;
            font-size: 24px;
            transition: .4s ease;
            padding-top: 6rem;

            ul {
                display: none;
               
                z-index: 998;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                gap: 0;

                a {
                    padding: 1rem;
                    width: 100%;
                    transition: .3s ease;

                    &:hover {
                        color: rgb(237, 82, 89);
                    }
                }

                .service{
                    // display: block;
                    z-index: 2000;
                    position: absolute;
    
                    >a{
                        pointer-events: none;
                    }
    
                    .dropdown{
                        position: absolute;
                        background-color: $primary-color;
                        display: none;
                        border-radius: 5px;
                        a{
                            display: block;
                            color: $white-color;
                            padding: 5px 10px;
                            gap: 24px;
                            font-size: 16px;
                            transition: all .4s linear;
    
                            &:hover{
                                background-color: #5e57aeee;
                            }
                            
                        }
    
                       
                    }
    
                    &:hover{
                        .dropdown{
                            display: block;
                        }
                    }
                }
            }

            .listlinks {
               display: flex;
                z-index: 998;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                gap: 0;

                a {
                    // padding: 1rem;
                    width: 100%;
                    transition: .3s ease;
                    font-size: 18px;

                    &:hover {
                        color: rgb(237, 82, 89);
                    }
                }
            }

            a {
                padding: 1rem;
                border: 0;
                width: 100%;
                z-index: 999;
                transition: .3s ease;

                &:hover {
                    background-color: transparent;
                    color: rgb(237, 82, 89);
                }
            }

        }

        .hamburger {
            display: flex;
        }
    }

    .container {
        margin-inline: $margin-mobile;
      

    }

    footer {
        padding: 68px 50px 67px 50px;
        font-size: 18px;

        .sub-container {
            .first-section {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    nav {
        .hamburger {
            right: -5rem;
        }
    }

    .container {
        margin-inline: $margin-mobile-small;
        margin-top: 50px;
    }

    .our-services {
        .service-title {
            width: 80%;
        }

        .services {
            grid-template-columns: 1fr;
        }
    }

    .testimonials {
        padding: 40px;

        .testimonial {
            .card {
                max-width: 100%;
            }
        }
    }

    .contact {
        flex-direction: column;

        .first-section {
            width: 100%;
            padding: 60px 30px;
            gap: 30px;

            .top {
                h1 {
                    font-size: 35px;
                }
            }

        }
    }
}

@media screen and (max-width: 450px) {
    nav {
        padding-inline: 20px;
        padding-right: $padding-1;

        &>img {
            transform: scale(.8);
        }

        .hamburger {
            right: -6rem;
        }
    }

    .hero-container1 {
        height: fit-content;

        &>div {
            h1 {
                font-size: 44px;
            }
        }

        .buttons{
            display: flex;
            flex-wrap: wrap;
        }

    }
}

