.hero-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 63px;
  padding-top: 153px;
}
.hero-container > div:nth-child(1) {
  width: 80%;
  align-self: center;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hero-container > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-container > div:nth-child(1) > div:nth-child(1) h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
}
.hero-container > div:nth-child(1) > div:nth-child(1) p {
  font-weight: 500;
}
.hero-container > div:nth-child(1) > div:nth-child(1) a {
  background-color: #292464;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 12px;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}
.hero-container > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  align-self: center;
  background-color: rgba(41, 36, 100, 0.7);
  color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  gap: 2.5rem;
}
.hero-container > div:nth-child(1) > div:nth-child(2) > div h3 {
  font-size: 34px;
}
.hero-container > div:nth-child(1) > div:nth-child(2) > div p {
  font-size: 24px;
}

.second-container {
  position: relative;
  width: 100%;
  padding: 1px;
}
.second-container > svg {
  position: absolute;
  z-index: -1;
}
.second-container > svg:nth-child(1) {
  top: -10rem;
  left: -15rem;
}
.second-container > svg:nth-child(2) {
  top: 35rem;
  right: -10rem;
}
.second-container > svg:nth-child(3) {
  top: 122rem;
  left: -23rem;
}
.second-container > svg:nth-child(4) {
  top: 250rem;
  right: -10rem;
}
.second-container .choose-us {
  display: flex;
  align-items: center;
  gap: 7rem;
}
.second-container .choose-us img {
  width: 47%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.second-container .choose-us div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.second-container .choose-us div > h2 {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  color: #292464;
}
.second-container .choose-us div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.second-container .choose-us div > div i {
  font-size: 25px;
  color: #292464;
}
.second-container .fight-corona {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.second-container .fight-corona > div {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.second-container .fight-corona > div > div:nth-child(1) {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}
.second-container .fight-corona > div > div:nth-child(1) h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: #292464;
}
.second-container .fight-corona > div > div:nth-child(1) h2 {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  color: #292464;
}
.second-container .fight-corona > div > div:nth-child(2) {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
  padding: 2rem;
  place-content: center;
  color: #ffffff;
  background-color: #292464;
  border-radius: 12px;
}
.second-container .fight-corona > div > div:nth-child(2) > div i {
  font-size: 28px;
  color: #ffffff;
}
.second-container .fight-corona > div > div:nth-child(2) > div p {
  font-size: 22px;
}
.second-container .fight-corona img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 572px;
}
.second-container .we-believe {
  display: flex;
  gap: 7rem;
  align-items: center;
  margin-bottom: 100px;
}
.second-container .we-believe > img {
  width: 172%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.second-container .we-believe .believe-section-two {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.second-container .we-believe .believe-section-two > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.second-container .we-believe .believe-section-two > div h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: #292464;
}
.second-container .we-believe .believe-section-two > div h2 {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  color: #292464;
}
.second-container .we-believe .believe-section-two .image-gallery {
  display: flex;
  gap: 24px;
}
.second-container .policies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.second-container .policies p {
  font-size: 14px;
}
.second-container .policies .left {
  width: 360px;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 25px;
  justify-content: center;
  gap: 1rem;
  background-color: #292464;
}
.second-container .policies .left h2 {
  color: #ffffff;
  display: block;
  text-align: center;
  font-size: 26px;
}
.second-container .policies .left .logo-img {
  width: 161px;
  height: 161px;
}
.second-container .policies .left .logo-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.second-container .policies .policy {
  width: 360px;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 32px;
  gap: 1rem;
  background-color: #F4F4F4;
}
.second-container .policies .policy h3 {
  color: #000000;
  display: block;
  text-align: center;
}
.second-container .policies .policy a {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 11px 26px;
  background-color: #EABCBF;
  color: #000000;
  font-size: 14px;
}
.second-container .policies .policy .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.second-container .trusted-partner {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-bottom: 100px;
}
.second-container .trusted-partner .first-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.second-container .trusted-partner .first-section h2 {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  color: #292464;
}
.second-container .trusted-partner .first-section h4 {
  font-size: 24px;
  color: #000000;
}
.second-container .trusted-partner .first-section .partners {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 50%), 1fr));
  gap: 20px;
}
.second-container .trusted-partner .second-section {
  background-color: #292464;
  padding: 46px 127px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.second-container .trusted-partner .second-section h2 {
  font-size: 32px;
  font-family: "Playfair Display", serif;
}
.second-container .trusted-partner .second-section p {
  font-size: 22px;
}
.second-container .trusted-partner .second-section a {
  padding: 12px 30px;
  border: 1px solid #ffffff;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}/*# sourceMappingURL=home.css.map */