@import "../../main/variables";

.body{
    overflow: hidden;
}
.hero-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: $padding-1 - 90px;
    padding-top: $padding-1;
    background: linear-gradient(rgb(41, 36, 100,.6),rgb(41, 36, 100,.1)),url("/static/img/clinic/clinic_background.jpg") no-repeat center center/cover;
    opacity: .9;
    
    &>div:nth-child(1){
        width: 80%;
        align-self: center;
        text-align: center;
        color: $white-color;
        display: flex;
        flex-direction: column;
        gap: 3rem;

    & > div:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      h1 {
        font-size: 48px;
        font-weight: 700;
        font-family: $font-family-Playfair;
        letter-spacing: 3px;
      }

      p {
        font-weight: 500;
      }

      a {
        background-color: $primary-color;
        padding: 12px 30px;
        display: inline-block;
        border-radius: 12px;
        width: fit-content;
        align-self: center;
      }
    }

    & > div:nth-child(2) {
      display: flex;
      align-self: center;
      background-color: rgba($primary-color, 0.7);
      color: $white-color;
      padding: 24px;
      border-radius: 12px;
      gap: 2.5rem;

      & > div {
        h3 {
          font-size: 34px;
        }
        p {
          font-size: 24px;
        }
      }
    }
  }
}

.services_span{
    font-weight: bold;
}
.second-container{
    position: relative;
    width: 100%;
    padding: 1px;
    
    &>svg{
        position: absolute;
        z-index: -1;
    }
    &>svg:nth-child(1){
        top: -10rem;
        left: -15rem;
    }
    &>svg:nth-child(2){
        top: 35rem;
        right: -10rem;
    }
    &>svg:nth-child(3){
        top: 122rem;
        left: -23rem;
    }
    &>svg:nth-child(4){
        top: 250rem;
        right: -10rem;
    }

  .choose-us {
    display: flex;
    align-items: center;
    gap: 7rem;

    img {
      width: 47%;
      height: 450px;
      object-fit: cover;
      border-radius: 10px;
    }

    div {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & > h2 {
        font-size: 32px;
        font-family: $font-family-Playfair;
        color: $primary-color;
      }

      & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: 100%;

        i {
          font-size: 25px;
          color: $primary-color;
        }
      }
    }
  }

    .fight-corona{
        display: flex;
        gap: 1rem;
        align-items: center;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

            &>div:nth-child(1){
                width: 80%;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                position: relative;

        h4 {
          font-family: $font-family-Roboto;
          font-size: $font-size;
          color: $primary-color;
        }

                h2{
                    font-size: 32px;
                    font-family: $font-family-Playfair;
                    color: $primary-color;
                }
            }
            &>div:nth-child(2){
                width: 80%;
                display: grid;
                grid-template-columns: auto auto;
                gap: 3rem;
                padding: 2rem;
                place-content: center;
                color: $white-color;
                background-color: $primary-color;
                border-radius: 12px;
                
                &>div{
                    i{
                        font-size: 28px;
                        color: $white-color;
                    }
                    p{
                        font-size: 22px;

                    }
                }
                
            }
        }

        img{
            object-fit: cover;
            border-radius: 10px;
            width: 100%;
            height: 572px;
        }


    }


  .we-believe {
    display: flex;
    gap: 7rem;
    align-items: center;
    margin-bottom: 100px;

        &>img{
            width: 172%;
            // width: 1100px;
            height: 500px;
            object-fit: cover;
            border-radius: 12px;
        }

    .believe-section-two {
      display: flex;
      flex-direction: column;
      gap: 24px;

      & > div {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h4 {
          font-family: $font-family-Roboto;
          font-size: $font-size;
          color: $primary-color;
        }

            h2{
                font-size: 32px;
                font-family: $font-family-Playfair;
                color: $primary-color;
            }
        }
            .image-gallery{
                display: flex;
                gap: 24px;
                // flex-direction: row;

                // &>img{
                //     object-fit: cover;
                //     width: 33.3%;
                //     height: 217px;
                //     object-fit: cover;
                // }
            }
        }
    }
.Highlighted_service {
    padding-inline: 153px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2{
        font-size: 32px;
        font-family: "Playfair Display", serif;
        color: #292464
    }

    .wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .card{
            flex: 1;
            border-radius: 12px;
            box-shadow: 10px 10px 10px whitesmoke;

            
            .card_header{
                height: 30vh;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
                
                display: flex;
                justify-content: center;
                align-items: center;

                h3{
                    color: white;
                }

                

            }
            .card_header1{
                
                background: linear-gradient(rgb(41, 36, 100,.5),rgb(41, 36, 100,.5)),url("/static/img/clinic/physicals.jpg") no-repeat center center/cover;
                
            }
            .card_header2{
                
                background: linear-gradient(rgb(41, 36, 100,.5),rgb(41, 36, 100,.5)),url("/static/img/clinic/women.jpg") no-repeat center center/cover;
                
            }
            .card_header3{
                
                background: linear-gradient(rgb(41, 36, 100,.5),rgb(41, 36, 100,.5)),url("/static/img/clinic/child.jpg") no-repeat center center/cover;
                
            }

            .card_footer{
                background-color: white;
                padding: 30px;
                margin: 0 auto;
                overflow: hidden;
            }
        }
    }

}
.policies{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  p{
      font-size: 14px;
  }

  .left{
      width: 360px;
      height: 440px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 80px 25px;
      justify-content: center;
      gap: 1rem;
      background-color: $primary-color;
      h2{
          color: $white-color;
          display: block;
          text-align: center;
          font-size: 26px;
      }

      .logo-img{
          width: 200px;
          height: 200px;
          img{
              width: 100%;
              object-fit: cover;
          }
      }
  }

  .policy{
      width: 360px;
      height: 440px;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
      padding: 80px 32px;
      gap: 1rem;
      background-color: #F4F4F4;
      h3{
          color: $black-color;
          display: block;
          text-align: center;
      }

      a{
          width: fit-content;
          height: fit-content;
          padding: 11px 26px;
          background-color: #EABCBF;
          color: $black-color;
          font-size: 14px;
      }
      
      .buttons{
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          justify-content: space-between;
      }
  }

  // .first-section{
  //     display: flex;
  //     flex-direction: column;
  //     gap: 54px;
  //     font-size: 24px;
  //     width: 100%;

  //     h2{
  //         color: $primary-color;
  //         font-family: $font-family-Playfair;
  //         font-size: 32px;
  //     }

  //     h3{
  //         font-family: $font-family-Playfair;
  //         font-size: 24px;
  //     }

  //     a{
  //         color: $black-color;
  //     }
  //     .top, .bottom{
  //         font-size: 24px;
  //         display: flex;
  //         flex-direction: column;
  //         gap: 14px;
  //     }
      
  // }
}


    .trusted-partner{
        display: flex;
        flex-direction: column;
        gap: 100px;
        padding-bottom: 100px;

    .first-section {
      display: flex;
      flex-direction: column;
      gap: 24px;

            h2{
                font-size: 32px;
                font-family: $font-family-Playfair;
                color: $primary-color;
            }

            h4{
                font-size: 24px;
                color: $black-color;
            }

            .partners{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(min(15rem, 50%), 1fr));
                // place-items: center;
                gap: 20px;
            }
        }

    .second-section {
      background-color: $primary-color;
      padding: 46px 127px;
      text-align: center;
      color: $white-color;
      display: flex;
      flex-direction: column;
      gap: 24px;

      h2 {
        font-size: 32px;
        font-family: $font-family-Playfair;
      }

      p {
        font-size: 22px;
      }

      a {
        padding: 12px 30px;
        border: 1px solid $white-color;
        width: fit-content;
        align-self: center;
      }
    }
  }

  

}



@media screen and (max-width:1024px) {
  
  .wrapper{
    flex-direction: column;
  }

}

@media screen and (max-width:600px) {
  .Highlighted_service{
    padding-inline: 53px!important;
  }
  
}


