<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/main/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" type="image/jpg" sizes="16x16 32x32"
    href="/static/img/home-img/Prague-Logo-Light.svg" />
  <link rel="stylesheet" href="/static/css/pages/emergency/emergency.css" />
  <title>Emergency</title>
</head>

<body>
  <!--Navigation-->
  <nav id="nav">
    <img src="/static/img/home-img/Prague-Logo-Light.svg" alt="Prague Logo">
    <div id="links-container">
      <ul>
          <a href="{% url "home" %}">
              <li>Home</li>
          </a>
          <a href="{% url "about" %}">
              <li>About Us</li>
          </a>

          <div class="service">
              
                  <li>Services</li>
              

              <div class="dropdown">

                  <a href="{% url "swing-bed" %}">Swing-bed</a>
                  <a href="{% url "rehab-servive" %}">Rehabilitation</a>
                  <a href="{% url "case-management" %}">Case Management</a>
                  <a href="{% url "wound_care" %}">Woundcare</a>
                  <a href="{% url "respiratory_therapy" %}">Respiratory Therapy</a>
                  <a href="{% url "nursing" %}">Nursing</a>
                  <a href="{% url "emergency" %}">Emergency</a>
                  
              </div>
          </div>
          
          <a href="{% url "employment" %}">
              <li>Career</li>
          </a>
          
          <div class="patient">
              
                  <li>Patient Info</li>
              

              <div class="dropdown">
                  <a href="{% url "financial" %}">Financial Services</a>
                  <a href="{% url "price" %}">Price Transparency</a>
                  
              </div>
          </div>
      </ul>

      <ul class="listlinks">
          <a href="{% url "home" %}">
              <li>Home</li>
          </a>
          <a href="{% url "about" %}">
              <li>About Us</li>
          </a>

          <a href="{% url "financial" %}">
              <li>Finance</li>
          </a>

          <a href="{% url "swing-bed" %}">
              <li>Swing-bed</li>
          </a>

          <a href="{% url "rehab-servive" %}">
              <li>Rehabilitation</li>
          </a>
          <a href="{% url "case-management" %}">
              <li>Case Management</li>
          </a>
          <a href="{% url "wound_care" %}">
              <li>Woundcare</li>
          </a>
          
          <a href="{% url "employment" %}">
              <li>Career</li>
          </a>
          <a href="{% url "home" %}">
              <li>Patient Info</li>
          </a>
      </ul>



      <a href="{% url "clinic" %}">Prague Family Clinic</a>
  </div>
    <section class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </section>

</nav>
  <!--End of Navigation-->

  <!-- Hero Section -->
  <section class="hero-container1">
    <div class="container">
      <h1>
       
        Emergency</h1>
    </div>
  </section>
  <!-- End of Hero Section-->

  <!-- Second Container-->
  <section class="second-container">
    <div class="first-section container">
      <img src="/static/img/emergency/emergency.jpg" alt="swingbed">
      <div>
        <h1>
          

Emergency</h1>
        <p>We hope you never need our expert emergency care, but if you do, we’re always here. Our team specializes in all types of emergency medicine, from broken bones to life-threatening injury or illness. Our onsite laboratory and radiology departments operate 24/7 to ensure accurate, timely diagnosis. In the event of a medical emergency, Carnegie Tri-County Municipal Hospital’s Level 4 emergency room team is always prepared to provide expert treatment in an environment of compassionate care and medical excellence.</p>
          <p>
            Our nurses are experienced in emergency, acute and skilled nursing care and BLS (Basic Life Support), ACLS (Advanced Cardiovascular Life Support) and PALS (Pediatric Advanced Life Support) certified.
          </p>
          <p>
            Should you need more specialized emergency care, our team partners with and is experienced at stabilizing and transporting critical patients to acute care facilities such as St. John Health System, Saint Francis Health System, Hillcrest Medical Center and Oklahoma State University Medical Center. No matter the circumstances, Carnegie Tri-County Municpal Hospital ensures its emergency patients receive the highest standard of care their emergency requires.
          </p>
      </div>
    </div>
   
  </section>
  <!-- End of second container-->

  <footer>
    <div class="sub-container">
      <div class="first-section">
        <div class="first">
          <img src="/static/img/home-img/Prague-Logo-Light.svg" alt="Prague Logo" />
          <div class="social-icons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          </div>
          <h2>Open 24/7 Hours</h2>
        </div>
        <div class="second">
          <ul>
            <h3>Our Services</h3>
            <a href="#"><li>Swing Bed</li></a>
            <a href="/src/pages/wondcare-service/wondcare.html"><li>Wound Care</li></a>
            <a href="#"><li>Respiratory Therapy</li></a>
            <a href="/src/pages/rehabilitation/rehabilitation.html"><li>Rehabilitation</li></a>
            <a href="/src/pages/wondcare-service/wondcare.html"><li>Case Management</li></a>
            <a href="#"><li>Nursing</li></a>
            
          </ul>
        </div>
        <div class="third">
          <ul>
            <h3>About</h3>
            <a href="#"><li>Company</li></a>
            <a href="/src/pages/financial/financial.html"><li>Financial Services</li></a>
            <a href="/src/pages/price/price.html"><li>Price Transparency</li></a>
            <a href="/src/pages/employment/employment.html"><li>Employment</li></a>
            <a href="#"><li>Family Clinic</li></a>
            
          </ul>
        </div>
        <div class="fourth">
          <ul>
            <h3>Support</h3>
            <li>
              We're here to help with always on <br />
              24 x 7 x 365 support
            </li>
            <li>(405) 567-4922</li>
            <li>info@prague.hospital</li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="second-section">
        <span>&copy;</span>
        <p>Copyright  <span id="currentYear"></span> Prague Regional Memorial Hospital. (U.S.A.)</p>
      </div>
    </div>
  </footer>
  <script src="/static/js/main/main.js"></script>
  <script src="/static/js/pages/home/home.js"></script>
</body>

</html>