.hero-container {
  height: 65vh;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.hero-container > div {
  max-width: 600px;
  color: #ffffff;
  z-index: 4;
  margin-bottom: 3rem;
}
.hero-container > div h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
}

.second-container {
  width: 100%;
}
.second-container .first-section .first-wrapper {
  position: relative;
  min-height: 600px;
}
.second-container .first-section .first-wrapper .first {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.second-container .first-section .first-wrapper .first h1 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
}
.second-container .first-section .first-wrapper .first > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.second-container .first-section .first-wrapper .second {
  background-color: #292464;
  color: #ffffff;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 70px;
  border-radius: 6px;
  gap: 48px;
  z-index: 3;
  top: 50%;
}
.second-container .first-section .first-wrapper .second > p {
  font-size: 24px;
  font-weight: bold;
}
.second-container .first-section .first-wrapper .second > div {
  display: flex;
  gap: 2rem;
}
.second-container .first-section .first-wrapper .second > div .list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.second-container .first-section .first-wrapper .second > div .list > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.second-container .first-section .second-wrapper {
  background-image: url(/prague/static/img/rehabilitation/rehabilitation-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  min-height: 430px;
  padding: 290px 193px 49px 128px;
  display: flex;
  align-items: flex-end;
  z-index: 2;
  position: relative;
}
.second-container .first-section .second-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(41, 36, 100, 0.6);
  z-index: -1;
}
.second-container .second-section {
  display: flex;
  gap: 20px;
  color: #ffffff;
  padding-bottom: 100px;
  justify-content: center;
}
.second-container .second-section .first, .second-container .second-section .third {
  display: flex;
  flex-direction: column;
  background-color: #292464;
  width: 33.3%;
  padding: 30px;
}
.second-container .second-section .first {
  gap: 24px;
}
.second-container .second-section .first h1 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
}
.second-container .second-section .second {
  background-image: url(/prague/static/img/rehabilitation/massage.jpg);
  width: 30%;
  background-repeat: no-repeat;
  background-size: cover;
}
.second-container .second-section .third {
  gap: 24px;
}
.second-container .second-section .third h2 {
  font-family: 24px;
}
.second-container .second-section .third > div {
  display: flex;
  flex-direction: column;
}
.second-container .second-section .third > div div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.second-container .third-section {
  display: flex;
  width: 100%;
}
.second-container .third-section .second {
  width: 60%;
  padding: 30px 70px;
  background-color: rgba(41, 36, 100, 0.1);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.second-container .third-section .second > h2 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
}
.second-container .third-section .second .list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.second-container .third-section .second .list > div {
  display: flex;
  gap: 12px;
  align-items: center;
}
.second-container .third-section .img-container {
  width: 40%;
  background-image: url("/prague/static/img/rehabilitation/massage-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.second-container .fourth-section {
  margin-bottom: 100px;
  display: flex;
  width: 100%;
}
.second-container .fourth-section .first {
  width: 60%;
  padding: 46px 44px 53px 156px;
  background-color: rgba(41, 36, 100, 0.3);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.second-container .fourth-section .first > h1 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
}
.second-container .fourth-section .first > h3 {
  font-size: 24px;
}
.second-container .fourth-section .first .list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.second-container .fourth-section .first .list > div {
  display: flex;
  gap: 12px;
  align-items: center;
}
.second-container .fourth-section .first .paragraphs {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.second-container .fourth-section .img-container {
  width: 40%;
  background-image: url("/prague/static/img/rehabilitation/massage-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.second-container .last-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  gap: 50px;
}
.second-container .last-section .first-wrapper {
  display: flex;
  position: relative;
  min-height: 634px;
  width: 100%;
}
.second-container .last-section .first-wrapper .first {
  width: 50%;
  background-color: #292464;
}
.second-container .last-section .first-wrapper .img-container {
  width: 50%;
  background-image: url(/prague/static/img/price-img/nurse.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.second-container .last-section .first-wrapper .overlay-container {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.47);
  padding: 44px 44px 30px 51px;
  max-width: 1000px;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-self: center;
  left: 4rem;
  gap: 24px;
}
.second-container .last-section .first-wrapper .overlay-container h1 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
}
.second-container .last-section > h2 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
}
.second-container .last-section .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.second-container .last-section .list div {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1500px) {
  .second-container .second-section {
    flex-direction: column;
    padding-bottom: 100px;
  }
  .second-container .second-section .first, .second-container .second-section .third {
    width: 100%;
  }
  .second-container .second-section .second {
    display: none;
  }
  .second-container .second-section .third {
    gap: 24px;
  }
  .second-container .second-section .third h2 {
    font-family: 24px;
  }
  .second-container .second-section .third > div {
    display: flex;
    flex-direction: column;
  }
  .second-container .second-section .third > div div {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
@media screen and (max-width: 1050px) {
  .second-container .first-section .first-wrapper {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 3rem;
  }
  .second-container .first-section .first-wrapper .first {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  .second-container .first-section .first-wrapper .first h1 {
    font-family: "Playfair Display", serif;
    font-size: 45px;
  }
  .second-container .first-section .first-wrapper .first > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .second-container .first-section .first-wrapper .second {
    position: static;
    padding: 40px;
  }
  .second-container .first-section .second-wrapper {
    background-image: url(/prague/static/img/rehabilitation/rehabilitation-background.jpg);
    min-height: 300px;
    padding: 50px 70px 49px 50px;
    align-items: center;
  }
}
@media screen and (max-width: 925px) {
  .second-container .third-section {
    flex-direction: column;
  }
  .second-container .third-section .second {
    width: 100%;
    padding: 30px 50px;
    background-color: rgba(41, 36, 100, 0.1);
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .second-container .third-section .second > h2 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
  }
  .second-container .third-section .second .list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .second-container .third-section .second .list > div {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  .second-container .third-section .img-container {
    width: 100%;
    height: 300px;
    background-image: url("/prague/static/img/rehabilitation/massage-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .second-container .fourth-section {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .second-container .fourth-section .first {
    width: 100%;
    padding: 46px 44px 53px 50px;
    background-color: rgba(41, 36, 100, 0.3);
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .second-container .fourth-section .first > h1 {
    font-family: "Playfair Display", serif;
    font-size: 45px;
  }
  .second-container .fourth-section .first > h3 {
    font-size: 24px;
  }
  .second-container .fourth-section .first .list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .second-container .fourth-section .first .list > div {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  .second-container .fourth-section .first .paragraphs {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .second-container .fourth-section .img-container {
    width: 100%;
    height: 300px;
    background-image: url("/prague/static/img/rehabilitation/massage-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (max-width: 550px) {
  .hero-container > div h1 {
    font-size: 36px;
  }
  .second-container .container {
    margin-inline: 30px;
  }
  .second-container .first-section .first-wrapper .second {
    padding: 20px;
  }
  .second-container .first-section .first-wrapper .second > div {
    flex-direction: column;
  }
  .second-container .first-section .second-wrapper {
    padding: 30px;
  }
  .second-container .third-section {
    flex-direction: column;
  }
  .second-container .third-section .second {
    padding: 30px;
  }
  .second-container .fourth-section .first {
    padding: 30px;
  }
  .second-container .last-section .first-wrapper {
    display: flex;
    min-height: 634px;
    width: 100%;
  }
  .second-container .last-section .first-wrapper .first {
    width: 100%;
    min-height: 634px;
    background-color: #292464;
  }
  .second-container .last-section .first-wrapper .img-container {
    display: none;
  }
  .second-container .last-section .first-wrapper .overlay-container {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.47);
    padding: 30px;
    width: 100%;
    display: flex;
    align-self: center;
    position: static;
    gap: 24px;
  }
  .second-container .last-section .first-wrapper .overlay-container h1 {
    font-size: 40px;
  }
  .second-container .last-section > h2 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
  }
  .second-container .last-section .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .second-container .last-section .list div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}/*# sourceMappingURL=rehabilitation.css.map */