@import "../../main/variables";
.hero-container1{
    height: 65vh;
    color: $white-color;
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(41, 36, 100,.6),rgb(41, 36, 100,.1)),url("/static/img/rehabilitation/background.jpg") no-repeat center center/cover;

    &>div{
        max-width: 600px;
        color: $white-color;
        z-index: 4;
        margin-bottom: 3rem;

        h1{
            font-size: 48px;
            font-weight: 700;
            font-family:  $font-family-Playfair;
            letter-spacing: 3px;
        }

    }
}

.second-container{
    width: 100%;
    
    .first-section{
        .first-wrapper{
            position: relative;
            min-height: 600px;
            .first{
                display: flex;
                flex-direction: column;
                gap: 40px;
                h1{
                    font-family: $font-family-Playfair;        
                    font-size: 45px;
                }

                &>div{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }

            .second{
                background-color: $primary-color;
                color: $white-color;
                position: absolute;
                display: flex;
                flex-direction: column;
                 padding: 40px;
                 border-radius: 6px;
                 gap: 48px;
                 z-index: 3;
                 top: 61%;

                 &>p{
                    font-size: 24px;
                    font-weight: bold;
                 }

                &>div{
                    display: flex;
                    gap: 2rem;

                    .list{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        &>div{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }
            }
            
        }

        .second-wrapper{
            background-image: url(/static/img/rehabilitation/rehabilitation-background.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: $white-color;
            min-height: 430px;
            padding: 290px 193px 49px 160px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            z-index: 2;
            position: relative;
            gap: 10px;

            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba( $primary-color, 0.6);
                z-index: -1;
            }

        }
    }

    .second-section{
        display: flex;
        gap: 20px;
        color: $white-color;
        padding-bottom: 100px;
        justify-content: center;
        .first,.third{
            display: flex;
            flex-direction: column;
            background-color: $primary-color;
            width: 33.3%;
            padding: 30px;
        }

        .first{
            gap: 24px;
            h1{
                font-family: $font-family-Playfair;
                font-size: 45px;
            }
        }

        .second{
            background-image: url(/static/img/rehabilitation/massage.jpg);
            width: 30%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .third{
            gap: 24px;

            h2{
                font-family: 24px;
            }

            &>div{
                display: flex;
                flex-direction: column;
                div{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
            }
        }

    }

    .third-section{
        display: flex;
        width: 100%;
        .second{
            width: 60%;
            padding: 30px 70px;
            background-color: rgba(41, 36, 100, 0.10);
            display: flex;
            flex-direction: column;
            gap: 24px;

            &>h2{
                font-family: $font-family-Playfair;
                font-size: 24px;
            }
            .list{
                display: flex;
                flex-direction: column;
                gap: 12px;
               

                &>div{
                    display: flex;
                    gap: 12px;
                    align-items: center;
                }
            }
        }
        .img-container{
            width: 40%;
            background-image: url("/static/img/rehabilitation/physical_therapy.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    .fourth-section{
        margin-bottom: 100px;
        display: flex;
        width: 100%;
            .first{
                width: 60%;
                padding: 46px 44px 53px 156px;
                background-color: rgba(41, 36, 100, 0.30);
                display: flex;
                flex-direction: column;
                gap: 24px;
    
                &>h1{
                    font-family: $font-family-Playfair;
                    font-size: 45px;
                }
    
                &>h3{
                    font-size: 24px;
                }
    
                .list{
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
    
                    &>div{
                        display: flex;
                        gap: 12px;
                        align-items: center;
                    }
                }
    
                .paragraphs{
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                }
            }
            .img-container{
                width: 40%;
                background-image: url("/static/img/rehabilitation/physical_therapy2.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        // .empty-div-section{
        //     height: 50px;
        //     background-color: rgba(193, 189, 219, 0.6);
        // }
       
    }

    .last-section{
        display: flex;
        flex-direction: column;

        padding-bottom: 100px;
        gap: 50px;
        .first-wrapper{
            display: flex;
            position: relative;
            min-height: 634px;
            width: 100%;
       
        .first{
            width: 50%;
            background-color: $primary-color;
        }
        .img-container{
            width: 50%;
            background-image: url(/static/img/price-img/nurse.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .overlay-container{
            background: rgba(255, 255, 255, 0.80);
            box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.47);
            padding: 44px 44px 30px 51px;
            max-width: 1000px;
            position: absolute;
            display: flex;
            flex-direction: column;
            padding: 50px;
            align-self: center;
            left: 4rem;
            gap: 24px;

            h1{
                font-family: $font-family-Playfair;
                font-size: 45px;
            }

            
        }
    }

    &>h2{
        font-family: $font-family-Playfair;
        font-size: 24px;
    }

    .lists{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 24px;

        .list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        div{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}
    
}

@media screen and (max-width: 1500px){
    .second-container{
        .second-section{

            flex-direction: column;
            padding-bottom: 100px;
            .first,.third{
                width: 100%;
            }
    
            .second{
              display: none;
            }
    
            .third{
                gap: 24px;
    
                h2{
                    font-family: 24px;
                }
    
                &>div{
                    display: flex;
                    flex-direction: column;
                    div{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                    }
                }
            }
    
        }
    }
   
}

@media screen and (max-width: 1050px){
    .second-container{
        .first-section{
            .first-wrapper{
                min-height: 600px;
                display: flex;
                flex-direction: column;
                gap: 48px;
                padding-bottom: 3rem;
                .first{
                    display: flex;
                    flex-direction: column;
                    gap: 48px;
                    h1{
                        font-family: $font-family-Playfair;        
                        font-size: 45px;
                    }
    
                    &>div{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }
                }
    
                .second{
                    position: static;
                    padding: 40px;

                }
                
            }
    
            .second-wrapper{
                background-image: url(/static/img/rehabilitation/rehabilitation-background.jpg);
                min-height: 300px;
                padding: 50px 70px 49px 50px;
                // align-items: start;
            }
        }
    }
}

@media screen and (max-width: 925px){
    .second-container{
        .third-section{
            flex-direction: column;
            .second{
                width: 100%;
                padding: 30px 50px;
                background-color: rgba(41, 36, 100, 0.10);
                display: flex;
                flex-direction: column;
                gap: 24px;
    
                &>h2{
                    font-family: $font-family-Playfair;
                    font-size: 24px;
                }
                .list{
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                   
    
                    &>div{
                        display: flex;
                        gap: 12px;
                        align-items: center;
                    }
                }
            }
            .img-container{
                width: 100%;
                height: 300px;
                // background-image: url("/static/img/rehabilitation/massage-2.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
        .fourth-section{
            margin-bottom: 100px;
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            .first{
                width: 100%;
                padding: 46px 44px 53px 50px;
                background-color: rgba(41, 36, 100, 0.30);
                display: flex;
                flex-direction: column;
                gap: 24px;
    
                &>h1{
                    font-family: $font-family-Playfair;
                    font-size: 45px;
                }
    
                &>h3{
                    font-size: 24px;
                }
    
                .list{
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
    
                    &>div{
                        display: flex;
                        gap: 12px;
                        align-items: center;
                    }
                }
    
                .paragraphs{
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                }
            }
            .img-container{
                width: 100%;
                height: 300px;
                // background-image: url("/static/img/rehabilitation/massage-3.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    
    }
}

@media screen and (max-width: 550px){
    .hero-container{    
        &>div{    
            h1{
                font-size: 36px;
            }
    
        }
    }
    
        .second-container{
            .container{
                margin-inline: 30px;
            }
            .first-section{
                .first-wrapper{
                    .second{
                        padding: 20px;
                        &>div{
                            flex-direction: column;
                        }
                    }
                }

                .second-wrapper{
                    padding: 30px;
                }
            }

        .third-section{
            flex-direction: column;
            .second{
                padding: 30px;
            }
         
        }
        .fourth-section{
            .first{
                padding: 30px;
            }
        }

        .last-section{    
            .first-wrapper{
                display: flex;
                min-height: 634px;
                width: 100%;
           
            .first{
                width: 100%;
                min-height: 634px;
                background-color: $primary-color;
            }
            .img-container{
                display: none;
            }
    
            .overlay-container{
                background: rgba(255, 255, 255, 0.80);
                box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.47);
                padding: 30px;
                width: 100%;
                display: flex;
                align-self: center;
                position: static;
                gap: 24px;
    
                h1{
                    font-size: 40px;
                }
    
                
            }
        }
    
        &>h2{
            font-family: $font-family-Playfair;
            font-size: 24px;
        }
    
        .list{
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            div{
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}
}