@import "../../main/variables";
.hero-container{
    height: 65vh;
    color: $white-color;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &>div{
        max-width: 600px;
        color: $white-color;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        z-index: 4;

        h1{
            font-size: 48px;
            font-weight: 700;
            font-family:  $font-family-Playfair;
            letter-spacing: 3px;
        }

        p{
            font-weight: 500;
        }

        div{
            display: flex;
            gap: 28px;

            a{
                padding: 12px 30px;
                border: 1px solid $white-color;
                width: fit-content;
                border-radius: 12px;
            }

            a:nth-child(1){
                background-color: $white-color;
                color: $black-color;
            }
        }
    }
}

.second-container{
    width: 100%;
    padding-bottom: 100px;
    .container{
        display: flex;
        background-color: $primary-color;

        img{
            width: 430px;
        }
        .price{
            color: $white-color;
            padding-left: 100px;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            justify-content: center;
            max-width: 700px;

            h1{
                font-size: 48px;
                font-family: $font-family-Playfair;
            }

            a{
                padding: 15px 48px;
                width: fit-content;
                border-radius: 12px;
                background: rgba(185, 31, 39, 0.50);
            }
        }
    }
}