<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/main/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" type="image/jpg" sizes="16x16 32x32" href="/static/img/home-img/Prague-Logo-Light.svg" />
  <link rel="stylesheet" href="/static/css/pages/financial/financial.css" />
  <title>Financial Service</title>
</head>

<body>
  <!--Navigation-->
  <nav id="nav">
    <img src="/static/img/home-img/Prague-Logo-Light.svg" alt="Prague Logo">
    <div id="links-container">
      <ul>
          <a href="{% url "home" %}">
              <li>Home</li>
          </a>
          <a href="{% url "about" %}">
              <li>About Us</li>
          </a>

          <div class="service">
              
                  <li>Services</li>
              

              <div class="dropdown">

                  <a href="{% url "swing-bed" %}">Swing-bed</a>
                  <a href="{% url "rehab-servive" %}">Rehabilitation</a>
                  <a href="{% url "case-management" %}">Case Management</a>
                  <a href="{% url "wound_care" %}">Woundcare</a>
                  <a href="{% url "respiratory_therapy" %}">Respiratory Therapy</a>
                  <a href="{% url "nursing" %}">Nursing</a>
                  <a href="{% url "emergency" %}">Emergency</a>
                  
              </div>
          </div>
          
          <a href="{% url "employment" %}">
              <li>Career</li>
          </a>
          
          <div class="patient">
              
                  <li>Patient Info</li>
              

              <div class="dropdown">
                  <a href="{% url "financial" %}">Financial Services</a>
                  <a href="{% url "price" %}">Price Transparency</a>
                  
              </div>
          </div>
      </ul>

      <ul class="listlinks">
          <a href="{% url "home" %}">
              <li>Home</li>
          </a>
          <a href="{% url "about" %}">
              <li>About Us</li>
          </a>

          <a href="{% url "financial" %}">
              <li>Finance</li>
          </a>

          <a href="{% url "swing-bed" %}">
              <li>Swing-bed</li>
          </a>

          <a href="{% url "rehab-servive" %}">
              <li>Rehabilitation</li>
          </a>
          <a href="{% url "case-management" %}">
              <li>Case Management</li>
          </a>
          <a href="{% url "wound_care" %}">
              <li>Woundcare</li>
          </a>
          
          <a href="{% url "employment" %}">
              <li>Career</li>
          </a>
          <a href="{% url "home" %}">
              <li>Patient Info</li>
          </a>
      </ul>



      <a href="{% url "clinic" %}">Prague Family Clinic</a>
  </div>
    <section class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </section>

</nav>
  <!--End of Navigation-->

  <!-- Hero Section -->
  <section class="hero-container1">
    <div class="container">
      <h1>Financial Services</h1>
      <p>
        Located in Prague, Oklahoma, we proudly serve Lincoln, Pottawatomie,
        Okfuskee,Seminole, and other surrounding communities
      </p>
      <div class="buttons">
        <a href="#">Our Services</a>
        <a href="#">Our Hospital</a>
      </div>
    </div>
  </section>
  <!-- End of Hero Section-->

  <!-- Second Container-->
  <section class="second-container">
    <div class="container">
      <div class="first-section">
        <div>
          <p>In keeping with its mission, Prague Regional Memorial Hospital is dedicated to improving the quality of
            life in our community by providing excellent healthcare with compassion and respect. As part of that
            commitment, Prague Regional Memorial Hospital acknowledges the financial needs of patients and families who
            are unable to afford the charges associated with the cost of medical care and offer financial assistance to
            those who have an established need to receive medically necessary medical services.</p>
        </div>
        <img src="/static/img/financial-img/man-on-computer.jpg" alt="Man on a computer">
      </div>
      <div class="second-section">
        <div class="first">
          <p>The following documents are our policies on assisting patients financially. You can download and print
            these documents.</p>
          <div>
            <h3>FA/Charity Policy</h3>
            <p>Learn more about our financial assistance/charity policy. <a href="#">Click here to download this
                policy</a></p>
          </div>
          <div>
            <h3>Plain Language Summary</h3>
            <p>Learn how to apply for financial assistance. <a href="#">Click here to download this policy</a></p>
          </div>
        </div>
        <div class="second">
          <h1>Apply for Financial Assistance.</h1>
          <p>Download and print the following application to apply for financial assistance.</p>
          <a href="#">Download</a>
        </div>
      </div>

    </div>

    <svg width="568" height="758" viewBox="0 0 568 758" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.3"
        d="M183.702 313.932C189.9 337.596 189.643 363.124 175.693 383.218C107.078 482.048 -62.2456 592.026 23.8878 718.532C50.5958 757.758 103.892 765.117 148.564 749.103C518.642 616.436 576.364 429.182 567.11 258.431C567.11 105.359 476.255 0 330.344 0C193.608 0 137.036 135.78 183.702 313.932Z"
        fill="#292464" />
    </svg>

  </section>
  <!-- End of second container-->

  <footer>
    <div class="sub-container">
      <div class="first-section">
        <div class="first">
          <img src="/static/img/home-img/Prague-Logo-Light.svg" alt="Prague Logo" />
          <div class="social-icons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
           
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          </div>
          <h2>Open 24/7 Hours</h2>
        </div>
        <div class="second">
          <ul>
            <h3>Our Services</h3>
            <a href="/src/pages/swingbed/swingbed.html"><li>Swing Bed</li></a>
            <a href="/src/pages/wondcare-service/wondcare.html"><li>Wound Care</li></a>
            <a href="#"><li>Respiratory Therapy</li></a>
            <a href="/src/pages/rehabilitation/rehabilitation.html"><li>Rehabilitation</li></a>
            <a href="/src/pages/wondcare-service/wondcare.html"><li>Case Management</li></a>
            <a href="#"><li>Nursing</li></a>
            
          </ul>
        </div>
        <div class="third">
          <ul>
            <h3>About</h3>
            <a href="#"><li>Company</li></a>
            <a href="#"><li>Financial Services</li></a>
            <a href="/src/pages/price/price.html"><li>Price Transparency</li></a>
            <a href="/src/pages/employment/employment.html"><li>Employment</li></a>
            <a href="#"><li>Family Clinic</li></a>
            
          </ul>
        </div>
        <div class="fourth">
          <ul>
            <h3>Support</h3>
            <li>
              We're here to help with always on <br />
              24 x 7 x 365 support
            </li>
            <li>(405) 567-4922</li>
            <li>info@prague.hospital</li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="second-section">
        <span>&copy;</span>
        <p>Copyright  <span id="currentYear"></span> Prague Regional Memorial Hospital. (U.S.A.)</p>
      </div>
    </div>
  </footer>
  <script src="/static/js/main/main.js"></script>
  <script src="/static/js/pages/home/home.js"></script>
</body>

</html>