@import "../../main/variables";
.hero-container{
    height: 65vh;
    color: $white-color;
    display: flex;
    align-items: center;

    &>div{
        max-width: 600px;
        color: $white-color;
        z-index: 4;
        margin-bottom: 3rem;

        h1{
            font-size: 48px;
            font-weight: 700;
            font-family:  $font-family-Playfair;
            letter-spacing: 3px;
        }

    }
}

.second-container{
    width: 100%;

    .first-section{
        padding-bottom: 100px;
        display: flex;
        gap: 70px;
        position: relative;

        img{
            width: 450px;
            height: 406px;
            box-shadow: 20px 20px 4px 0px #292464;
        }

        &>div{
            width: 55%;
            display: flex;
            flex-direction: column;
            gap: 48px;
            justify-content: center;
            h1{
                font-family: $font-family-Playfair;
                font-size: 45px;
                letter-spacing: .5px;
            }
        }

        svg{
            position: absolute;
            top: -30rem;
            right: -25rem;
        }
    }

    .second-section{
        display: flex;
        width: 100%;
        .first{
            width: 50%;
            color: $white-color;
            padding: 46px 44px 53px 142px;
            background-color: $primary-color;
            display: flex;
            flex-direction: column;
            gap: 24px;

            &>h1{
                font-family: $font-family-Playfair;
                font-size: 45px;
            }
            &>p{
                font-size: 24px;
            }

            .list{
                display: flex;
                flex-direction: column;
                gap: 12px;
               

                &>div{
                    display: flex;
                    gap: 12px;
                    align-items: center;
                }
            }

            .paragraphs{
                display: flex;
                flex-direction: column;
                gap: 18px;
            }
        }
        .img-container{
            width: 50%;
            background-image: url("/prague/static/img/case-management-img/social.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    .third-section{
        margin-bottom: 100px;
        display: flex;
        width: 100%;
        .second{
            width: 50%;
            color: $white-color;
            padding: 46px 142px 53px 44px;
            background-color: $primary-color;
            display: flex;
            flex-direction: column;
            gap: 24px;

            &>h1{
                font-family: $font-family-Playfair;
                font-size: 45px;
            }

            &>h3{
                font-size: 24px;
            }

            .list{
                display: flex;
                flex-direction: column;
                gap: 12px;

                &>div{
                    display: flex;
                    gap: 12px;
                    align-items: center;
                }
            }

            .paragraphs{
                display: flex;
                flex-direction: column;
                gap: 18px;
            }
        }
        .img-container{
            width: 50%;
            background-image: url("/prague/static/img/case-management-img/case-management.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}