@import "../../main/variables";
.hero-container{
    padding-bottom: 2rem;
    min-height: 65vh;
    color: $white-color;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &>div{
        max-width: 728px;
        color: $white-color;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        z-index: 4;

        h1{
            font-size: 48px;
            font-weight: 700;
            font-family:  $font-family-Playfair;
            letter-spacing: 3px;
        }

        p{
            font-weight: 500;
        }
    }
}

.job-container{
    width: 100%;
    padding-bottom: 100px;

    &>div{
        display: flex;
        flex-direction: column;
        gap: 50px;

        .sign-in-container{ 
            width: 100%;
            background-color: rgba($color: $grey-color, $alpha: 0.1);
            padding: 30px 47px;
            border-radius: 10px;
            display: flex;
            justify-content: flex-end;
            a{
                background-color: $primary-color;
                padding: 17px 49px;
                display: inline-block;
                border-radius: 12px;
                width: fit-content;
                align-self: center;
            }
        }

        .job-listing-section{
            display: flex;
            gap: 40px;
            width: 100%;
            
            .sidebar{
                background-color: rgba($color: $grey-color, $alpha: 0.1);
                padding: 27px 43px 80px 42px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                gap: 24px;
                &>h1{
                    font-size: 32px;
                    font-family: $font-family-Playfair;
                }
                &>div{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    &>h4{
                        font-family: $font-family-Roboto;
                        font-size: 20px;
                        letter-spacing: 1px;
                    }

                    &>div{
                        display: flex;
                        gap: 20px;
                        color: $grey-color;
                        
                        div{
                            input{
                                width: 20px;
                                height: 20px;
                                cursor: pointer;
                                accent-color: $primary-color;
                            }
                        }
                        
                    }
                }
            }
            .right-section{
                display: flex;
                flex-direction: column;
                gap: 25px;

                .search-container{ 
                    width: 100%;                
                    form{
                        width: 100%;
                        display: flex;
                        gap: 30px;
                        input{
                            background-color: rgba($color: $grey-color, $alpha: 0.1);
                            padding: 17px 30px 18px 30px;
                            border-radius: 10px;
                            border: 0;
                            width: 100%;
                            font-size: 1rem;
                        }
                        button{
                            background-color: $primary-color;
                            color: $white-color;
                            padding: 17px 49px;
                            display: inline-block;
                            border-radius: 12px;
                            border: 0;
                            width: fit-content;
                            align-self: center;
                            font-size: 18px;
                            cursor: pointer;
                        }
                    }
                }
                .job-listing{
                    display: flex;
                    flex-direction: column;
                    overflow-y: scroll;
                    height: 814px;
                    gap: 24px;
                    a{
                        .jobs{
                            padding: 24px 19px;
                            background-color: rgba($color: $grey-color, $alpha: 0.1);
                            border-radius: 10px;
                            display: flex;
                            .first{
                                display: flex;
                                flex-direction: column;
                                gap: 12px;
                                h1{
                                    font-family: $font-family-Playfair;
                                    color: $primary-color;
                                }
        
                                h2{
                                    font-family: $font-family-Roboto;
                                    font-size: 18px;
                                    color: $primary-color;
                                    letter-spacing: 1px;
                                }
                                p{
                                    font-weight: 500;
                                    font-size: 19px;
                                }
                            }
    
                            i{
                                font-size: 24px;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

@media screen and (max-width: 925px){
    .job-container{
        &>div{
            .job-listing-section{
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .container{
        margin-inline: 30px;
    }
    .job-container{
        &>div{
            .job-listing-section{
                .right-section{
                    .search-container{
                        form{
                            flex-direction: column;
                            gap: 10px;
                            button{
                                padding: 17px;
                            }
                        }
                    }
                }
            }
        }
    }
}