
{% extends "base.html" %}
{% load static %}
{% block page_links %}

    <link rel="stylesheet" href="{% static '/css/pages/clinic/clinic.css' %}">
    <link rel="stylesheet" href="{% static '/css/pages/home/home_responsive.css' %}">

{% endblock page_links %}


{% block content %}

    <section class="hero-container">
        <div>
            <div>
                <h1>Prague Family Clinic</h1>
                <p>Prague Family Clinic is a Certified Rural Health Clinic</p>
                <a href="{% url "contact" %}">Contact Us</a>
            </div>

           
        </div>

    </section>
    <!-- End of Hero Section-->
    <!-- Second Container Section-->
    <section class="second-container">
        

    
        <section class="our-services container" id="services">
            <div class="border-padding-left service-title">
                <h2>Your Complete Health Partner</h2>
                
            </div>
            <div class="services">
                <a href="#">
                    <div class="service" id="s1" style="background-image: url('/static/img/clinic/family.jpg');">
                        <div>
                            <div>
                                <span class="services_span">Family Care</span>
                            </div>
                            <p>Annual checkups, chronic illnesses, medication management, and sudden illnesses or ailments—we are your primary care provider for the whole family. </p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="service" id="s2" style="background-image: url('/static/img/clinic/wellness.jpg'); background-color: #292464;">
                        <div>
                            <div>
                                <span class="services_span">Health  & Wellness</span>
                            </div>
                            <p>Are you plagued by unexplained fatigue, pain, or other symptoms? You may have an imbalance that can be easily corrected with vitamin or medication therapy.</p>
                        </div>

                    </div>
                </a>

                <a href="#">
                    <div class="service" id="s3" style="background-image: url('/static/img/clinic/telehealth.jpg');">
                        <div>
                            <div>
                                <span class="services_span">Telehealth</span>
                            </div>
                            <p>Are you feeling under the weather, but are unable or don’t want to come into the office? Our telehealth evaluations connect you with a doctor where you are.</p>
                        </div>

                    </div>
                </a>
               
        </section>

        <section class="Our-teams container">
            <div class="border-padding-left team-title">
                <h2>
                    Our Team
                </h2>
                <p>We provide patient-centered healthcare to our rural communities through compassionate care. We
                    are available 24 hours a day/7 days a week.</p>
            </div>
    
            <div class="team-profile">
                <div class="profile">
                    <div class="profile-img ">
                        <img class="anndee" src="{% static '/img/clinic/anndee ad.jpg' %}" alt="">
                    </div>
                    <h4>
                        AnnDee Lee-Carter
                    </h4>
                    <h6>
                        PA-C
                    </h6>
                    <p>
                        AnnDee Lee-Carter graduated from Prague High School in 2009, then attended the University of Oklahoma where she graduated in the top 10% of her class. She received her Master in Health Science in Physician Assistant Studies in December of 2016 from the University of Oklahoma, Tulsa. <br><br>
                        In 2018 Lee-Carter was asked to be part of the Preceptor Program. She jumped at the chance because she was interested in teaching. She was awarded The Preceptor of the by the University of Oklahoma – Tulsa in 2021. She truly loves teaching students and being a mentor to them. <br><br>
                        In her spare time, she spends time with her son, Jaxsen. She also enjoys taking care of her flower and vegetable garden and likes to read. <br><br>
    
                    </p>
                </div>
    
                <div class="profile">
                    <div class="profile-img">
                        <img src="{% static '/img/about-img/Heather Brandwein, APRN-CNP - Prague Hospital and Clinic - July 2024.jpg' %}" alt="">
                    </div>
                    <h4>
                        Heather Brandwein
                    </h4>
                    <h6>
                        APRN-CNP 
                    </h6>
                    <p>
                        Heather Brandwein has worked as a Nurse Practitioner in Family Practice Primary Care and Inpatient/Swing bed services for the last 6 years. She has advanced training in wound care and provides wound care services to her clinic patients, as well as our inpatients. Prior to obtaining her master’s degree and Nurse Practitioner licensure, Heather worked as an RN at Saint Francis Hospital in multiple settings including Trauma/Emergency, Medical/Surgical and Kidney Transplant. She was raised in Morris, Oklahoma and is passionate about providing quality care to rural communities.  Heather currently lives in Tulsa with her wife, daughter and their two golden retrievers. She is a lover of learning, cooking, basketball and spending time with her family.
    
    
                    </p>
                </div>
                
                <div class="profile">
                    <div class="profile-img">
                        <img src="{% static '/img/about-img/nick.jpg' %}" alt="">
                    </div>
                    <h4>
                        Nickolas Lee Sitter 
                    </h4>
                    <h6>
                        PA 
                    </h6>
                    <p>
                        Sitter grew up in Shawnee and attends church in Little. He graduated from Shawnee High School in 2017 with pre-university studies. That same year he also graduated from Gordon Cooper Technology Center in Shawnee with additional pre-university studies and the pre-engineering program. Nick graduated from Oklahoma Baptist University in Shawnee with a Bachelors of Natural Science in 2021, then on to the University of Oklahoma, Tulsa University campus for a Masters in Physician Assistant with graduation in December of 2023. <br><br>

He did an 8-week rotation in Surgery and has experience in general, colorectal, vascular and trauma surgery; he did Family Medicine Rotation for experience in general family medicine practices at OU Health Physicians South Memorial in Tulsa; also Primary Care, Internal Medicine, Emergency Medicine and OBGYN Rotation as well as Mental Health, Pediatrics, Hematology Oncology Rotation along with experience in prison medicine at Mabel Bassett Correctional Center in McLoud. <br><br>

Nick and his wife Cierra reside in Shawnee. Every Sunday Nick’s family along with Cierra’s family get together for a family meal after church and then board games. His hobbies include watching and playing sports, collecting sports cards, lifting weights, listening to music, watching movies and enjoying time with friends and family. His favorite activity is sports and he loves watching and reading about baseball, hockey, football, basketball and UFC. <br> <br>

    
                    </p>
                </div>
            </div>
        </section>
        

        <section class="Highlighted_service">
            <h2>Highlighted Services</h2>
            <div class="wrapper">
                <div class="card">
                    <div class="card_header card_header1">
                        <h3>Physicals</h3>
                    </div>
                    <div class="card_footer">
                        <p>Our physicals are a complete workup of each patient, ensuring they are fit for everyday activities and/or athletic exertion.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_header card_header2">
                        <h3>Women's Health</h3>
                    </div>
                    <div class="card_footer">
                        <p>We offer a myriad of women’s health services, including annual checkups, pap smears, breast exams, and prescribing birth control.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_header card_header3">
                        <h3>Well-Child Check</h3>
                    </div>
                    <div class="card_footer">
                        <p>We offer well-child checks to evaluate our littlest patients and ensure they’re on the right track to grow into healthy adults.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="policies container">
            <div class="left">
                
                <div class="logo-img">
                    <img src="{% static "img/home-img/cohesive-logo.png" %}" alt="">
                </div>
                <h2>
                    Managed Hospital
                </h2>
            </div>
            <div class="policy">
                <h3>Non-Discrimination Policy</h3>
                <p>We accept all patients regardless of race, color, national origin, age, disability, sex, sexual
                    orientation, gender identity, religion, or ability to pay.</p>

                <p>
                    To learn more, you can view our full non-discrimination policy.
                </p>

                <a target="_blank" href="{% static "pdf/Nondiscrimination-Policy_PRAGUE.tdc_.pdf" %}">Non-Discrimination Policy</a>
            </div>
            <div class="policy">
                <h3>Financial Assistance Policy</h3>
                <p>No one will be denied access to services due to inability to pay. We utilize a discounted/sliding
                    fee scale based on family size and income.</p>

                <p>
                    To learn more about financial assistance or to print a financial assistance application,
                    click below.
                </p>

                <div class="buttons">
                    <a  target="_blank"  href="{% static "pdf/Financial-Assistance-Policy.PRAGUE.July2020_tdc.pdf" %}">FA Policy</a>

                    <a  target="_blank"  href="{% static "pdf/Financial-Assistance-Application.2022_PRAGUE.docx" %}"> Application</a>
                </div>


            </div>
        </section>

        

       
        <section class="contact container">
            <div class="first-section">
                <div class="top">
                    <h2>GET IN TOUCH</h2>
                    <h1>Contact Information</h1>
                    <p>We are committed to ensuring you receive the help and information needed to better manage your
                        health. Listed below are phone numbers to get in touch with us with any questions and/or
                        concerns you may have.</p>
                </div>
                <div class="bottom">
                    <div><i class="fa-solid fa-phone"></i><span>(405) 567-4922</span></div>
                    <div><i class="fa-solid fa-envelope"></i><span>info@prague.hospital</span></div>
                    <div><i class="fa-solid fa-location-dot"></i><span>1322 Klabzuba, Prague, Oklahoma 74864</span>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <form action="#" method="get">
                    <div class="names">
                        <input type="text" id="fname" name="fname" placeholder="First Name">
                        <input type="text" id="lname" name="lname" placeholder="Last Name">
                    </div>
                    <input type="email" id="email" name="email" placeholder="Email">
                    <input type="tel" id="phone" name="phone" placeholder="Phone">
                    <textarea name="message" id="message" cols="30" rows="10"></textarea>
                    <input type="submit" value="Send Message">
                </form>
            </div>
        </section>
        <section class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3891.201502826868!2d-96.68695698500073!3d35.49050217484657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b3e93ff655ac4b%3A0xa9ea68b7d9005b00!2sPrague%20Community%20Hospital!5e0!3m2!1sen!2srw!4v1695300440666!5m2!1sen!2srw"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </section>

{% endblock content %}