<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="shortcut icon" type="image/jpg" sizes="16x16 32x32"
        href="/static/img/home-img/Prague-Logo-Light.svg" />
    <link rel="stylesheet" href="/static/css/pages/clinic/clinic.css">
    <link rel="stylesheet" href="/static/css/pages/home/home_responsive.css">
    <title>Clinic</title>
</head>

<body>
    <!-- Hero Section -->

    <nav id="nav">
        <img src="/static/img/home-img/Prague-Logo-Light.svg" alt="Prague Logo">
        <div id="links-container">
            <ul>
                <a href="{% url "home" %}">
                    <li>Home</li>
                </a>
                <a href="{% url "about" %}">
                    <li>About Us</li>
                </a>

                <div class="service">
                    
                        <li>Services</li>
                    

                    <div class="dropdown">

                        <a href="{% url "swing-bed" %}">Swing-bed</a>
                        <a href="{% url "rehab-servive" %}">Rehabilation</a>
                        <a href="{% url "case-management" %}">Case Management</a>
                        <a href="{% url "wound_care" %}">Woundcare</a>
                        <a href="{% url "respiratory_therapy" %}">Respiratory Therapy</a>
                        <a href="{% url "nursing" %}">Nursing</a>
                        <a href="{% url "emergency" %}">Emergency</a>
                        
                    </div>
                </div>
                
                <a href="{% url "employment" %}">
                    <li>Career</li>
                </a>
                
                <div class="patient">
                    
                        <li>Patient Info</li>
                    

                    <div class="dropdown">
                        <a href="{% url "financial" %}">Financial Services</a>
                        <a href="{% url "price" %}">Price Transparency</a>
                        
                    </div>
                </div>
            </ul>

            <ul class="listlinks">
                <a href="{% url "home" %}">
                    <li>Home</li>
                </a>
                <a href="{% url "about" %}">
                    <li>About Us</li>
                </a>

                <a href="{% url "financial" %}">
                    <li>Finance</li>
                </a>

                <a href="{% url "swing-bed" %}">
                    <li>Swing-bed</li>
                </a>

                <a href="{% url "rehab-servive" %}">
                    <li>Rehabilation</li>
                </a>
                <a href="{% url "case-management" %}">
                    <li>Case Management</li>
                </a>
                <a href="{% url "wound_care" %}">
                    <li>Woundcare</li>
                </a>
                
                <a href="{% url "employment" %}">
                    <li>Career</li>
                </a>
                <a href="{% url "home" %}">
                    <li>Patient Info</li>
                </a>
            </ul>



            <a href="{% url "clinic" %}">Prague Family Clinic</a>
        </div>
        <section class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </section>

    </nav>
    <section class="hero-container">
        <div>
            <div>
                <h1>Prague Family Clinic</h1>
                <p>Prague Family Clinic is a Certified Rural Health Clinic</p>
                <a href="{% url "contact" %}">Contact Us</a>
            </div>

           
        </div>

    </section>
    <!-- End of Hero Section-->
    <!-- Second Container Section-->
    <section class="second-container">
        <!-- <svg width="724" height="724" viewBox="0 0 724 724" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle opacity="0.13" cx="362" cy="362" r="362" fill="#292464" />
        </svg>

       

        <svg width="724" height="724" viewBox="0 0 724 724" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle opacity="0.13" cx="362" cy="362" r="362" fill="#292464" />
        </svg> -->

    
        <section class="our-services container" id="services">
            <div class="border-padding-left service-title">
                <h2>Your Complete Health Partner</h2>
                
            </div>
            <div class="services">
                <a href="#">
                    <div class="service" id="s1" style="background-image: url('/static/img/clinic/family.jpg');">
                        <div>
                            <div>
                                <span class="services_span">Family Care</span>
                            </div>
                            <p>Annual checkups, chronic illnesses, medication management, and sudden illnesses or ailments—we are your primary care provider for the whole family. </p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="service" id="s2" style="background-image: url('/static/img/clinic/wellness.jpg'); background-color: #292464;">
                        <div>
                            <div>
                                <span class="services_span">Health  & Wellness</span>
                            </div>
                            <p>Are you plagued by unexplained fatigue, pain, or other symptoms? You may have an imbalance that can be easily corrected with vitamin or medication therapy.</p>
                        </div>

                    </div>
                </a>

                <a href="#">
                    <div class="service" id="s3" style="background-image: url('/static/img/clinic/telehealth.jpg');">
                        <div>
                            <div>
                                <span class="services_span">Telehealth</span>
                            </div>
                            <p>Are you feeling under the weather, but are unable or don’t want to come into the office? Our telehealth evaluations connect you with a doctor where you are.</p>
                        </div>

                    </div>
                </a>
               
        </section>

        
        <section class="we-believe container">
            <img src="/static/img/clinic/Lee-Carter-AnnDee.jpg" alt="Woman Smiling">
            <div class="believe-section-two">
                <div class="border-padding-left">
                    
                    <h2>What we believe</h2>
                    <h4>AnnDee Lee-Carter, PA-C</h4>
                    <p>AnnDee grew up in Prague and is a graduate of Prague High School. She received her Master of Health Science degree in PA Studies from the University of Oklahoma, Tulsa, in December of 2016. She has been employed in Prague 3-1/2 years at Prague Clinic in Family Medicine as a PA-C in September of 2017. Prior to coming to Prague, she was employed at Stroud One Cura Family clinic for 8 months, under Dr. Markert.</p>
                </div>
               
            </div>
        </section>

        <section class="Highlighted_service">
            <h2>Highlighted Services</h2>
            <div class="wrapper">
                <div class="card">
                    <div class="card_header card_header1">
                        <h3>Physicals</h3>
                    </div>
                    <div class="card_footer">
                        <p>Our physicals are a complete workup of each patient, ensuring they are fit for everyday activities and/or athletic exertion.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_header card_header2">
                        <h3>Women's Health</h3>
                    </div>
                    <div class="card_footer">
                        <p>We offer a myriad of women’s health services, including annual checkups, pap smears, breast exams, and prescribing birth control.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_header card_header3">
                        <h3>Well-Child Check</h3>
                    </div>
                    <div class="card_footer">
                        <p>We offer well-child checks to evaluate our littlest patients and ensure they’re on the right track to grow into healthy adults.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="policies container">
            <div class="left">
                <h2>
                    A Cohesive Healthcare Hospital
                </h2>
                <div class="logo-img">
                    <img src="/static/img/home-img/cohesive-logo.png" alt="">
                </div>
                
            </div>
            <div class="policy">
                <h3>Non-Discrimination Policy</h3>
                <p>We accept all patients regardless of race, color, national origin, age, disability, sex, sexual
                    orientation, gender identity, religion, or ability to pay.</p>

                <p>
                    To learn more you can view our full non-discrimination policy.
                </p>

                <a href="#">Non-discriminatory Policy</a>
            </div>
            <div class="policy">
                <h3>Financial Assistance Policy</h3>
                <p>No one will be denied access to services due to inability to pay. We utilize a discounted/sliding
                    fee scale based on family size and income.</p>

                <p>
                    To learn more about financial assistance or to print a financial assistance application you can
                    click below.
                </p>

                <div class="buttons">
                    <a href="#">FA Policy</a>

                    <a href="#"> Application</a>
                </div>


            </div>
        </section>

        

       
        <section class="contact container">
            <div class="first-section">
                <div class="top">
                    <h2>GET IN TOUCH</h2>
                    <h1>Contact Information</h1>
                    <p>We are committed to ensuring you receive the help and information needed to better manage your
                        health. Listed below are phone numbers to get in touch with us with any questions and/or
                        concerns you may have.</p>
                </div>
                <div class="bottom">
                    <div><i class="fa-solid fa-phone"></i><span>(405) 567-4922</span></div>
                    <div><i class="fa-solid fa-envelope"></i><span>info@prague.hospital</span></div>
                    <div><i class="fa-solid fa-location-dot"></i><span>1322 Klabzuba, Prague, Oklahoma 74864</span>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <form action="#" method="get">
                    <div class="names">
                        <input type="text" id="fname" name="fname" placeholder="First Name">
                        <input type="text" id="lname" name="lname" placeholder="Last Name">
                    </div>
                    <input type="email" id="email" name="email" placeholder="Email">
                    <input type="tel" id="phone" name="phone" placeholder="Phone">
                    <textarea name="message" id="message" cols="30" rows="10"></textarea>
                    <input type="submit" value="Send Message">
                </form>
            </div>
        </section>
        <section class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3891.201502826868!2d-96.68695698500073!3d35.49050217484657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b3e93ff655ac4b%3A0xa9ea68b7d9005b00!2sPrague%20Community%20Hospital!5e0!3m2!1sen!2srw!4v1695300440666!5m2!1sen!2srw"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </section>
    <footer>
        <div class="sub-container">
          <div class="first-section">
            <div class="first">
              <img src="/static/img/home-img/Prague-Logo-Light.svg" alt="Prague Logo" />
              <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              </div>
              <h2>Open 24/7 Hours</h2>
            </div>
            <div class="second">
              <ul>
                <h3>Our Services</h3>
                <a href="/src/pages/swingbed/swingbed.html"><li>Swing Bed</li></a>
                <a href="/src/pages/wondcare-service/wondcare.html"><li>Wound Care</li></a>
                <a href="#"><li>Respiratory Therapy</li></a>
                <a href="/src/pages/rehabilitation/rehabilitation.html"><li>Rehabilitation</li></a>
                <a href="/src/pages/wondcare-service/wondcare.html"><li>Case Management</li></a>
                <a href="#"><li>Nursing</li></a>
                
              </ul>
            </div>
            <div class="third">
              <ul>
                <h3>About</h3>
                <a href="#"><li>Company</li></a>
                <a href="/src/pages/financial/financial.html"><li>Financial Services</li></a>
                <a href="/src/pages/price/price.html"><li>Price Transparency</li></a>
                <a href="/src/pages/employment/employment.html"><li>Employment</li></a>
                <a href="#"><li>Family Clinic</li></a>
                
              </ul>
            </div>
            <div class="fourth">
              <ul>
                <h3>Support</h3>
                <li>
                  We're here to help with always on <br />
                  24 x 7 x 365 support
                </li>
                <li>(405) 567-4922</li>
                <li>info@prague.hospital</li>
              </ul>
            </div>
          </div>
          <hr />
          <div class="second-section">
            <span>&copy;</span>
            <p>Copyright  <span id="currentYear"></span> Prague Regional Memorial Hospital. (U.S.A.)</p>
          </div>
        </div>
      </footer>
    <script src="/static/js/main/main.js"></script>
    <script src="/static/js/pages/home/home.js"></script>
</body>

</html>